{% load staticfiles i18n %}
{% load cms_tags menu_tags sekizai_tags %}
{% load analytical %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<head profile="http://gmpg.org/xfn/11">
	  {% analytical_head_top %}
		{% block meta_tags %}{% endblock %}
		<title>
			{% block title %}{% trans "TD New Theme" %}{% endblock %}
		</title>
		{% block stylesheets %}
			<!--
			<link rel="stylesheet" href="{% static "gazette/bootstrap/css/bootstrap.min.css" %}" type="text/css" />
			<link rel="stylesheet" href="{% static "gazette/css/base.css" %}" type="text/css" />
			-->
		{% endblock %}

		{% block extra_head %}{% endblock %}

		{% render_block "css" %}
		{% analytical_head_bottom %}
</head>

<body>

{% block body_top_js_block %}{% endblock %}

{% cms_toolbar %}

{% analytical_body_top %}

<div class="container">

	<div id="base_top_navigation" role="base_top_navigation" >
		{# block base_navigation #}
			{% include "new_theme/templates/_include_top_navigation.html" %}
		{# endblock base_navigation #}
	</div>

	{# include "new_theme/templates/_include_tmp_social_auth.html" #}

	<div id="base_header" role="base_header" >
		{% block base_header %}
		{% include "new_theme/templates/_include_header.html" %}
		{% endblock base_header %}
	</div>

	<div id="base_navigation" role="base_navigation" >
		{% block base_navigation %}
		{% include "new_theme/templates/_include_navigation.html" %}
		{% endblock base_navigation %}
	</div>

	<div id="base_content" role="base_content">
		{% block base_content %}
		{# included block is not rendered. So extend this template and overwrite this block #}
		{# include "new_theme/templates/_include_base_content.html" #}
		{% endblock base_content %}
	</div>

	<div id="base_footer" role="base_footer" >
		{% block base_footer %}
		{% include "new_theme/templates/_include_footer.html" %}
		{% endblock base_footer %}
	</div>
</div> 

{% block javascript %}
<!--
			<script src="{% static "gazette/js/jquery-1.7.2.min.js" %}" type="text/javascript"></script>
			<script src="{% static "gazette/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
			-->
{% endblock %}

{% block third_analytics %}
{% endblock %}

{% render_block "js" %}
{% analytical_body_bottom %}
</body>
</html>

