<div class="row">
	<div class="col-sm-12 col-md-4 col-md-4">
		<div class="page-header">
			<h1><strong>VFOSS<sup></sup></strong> <small>Promotes Open Source</small></h1>
		</div>
	</div>
	<div class="col-sm-12 col-md-8 col-md-8 pull-right">
		{% block ad_banner_header %}
		{% endblock %}
	</div>
</div>

