<div class="footer">    
	<div class="container">
  <hr>
  <div class="row footer-content">
		<br/>
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>VFOSS<li>
          <li><a href="#">About us</a></li>
          <li><a href="/newswire">FOSS News</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Contact & support</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>Features<li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Society</a></li>
          <li><a href="#">Projects</a></li>              
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>Services<li>
          <li><a href="#"></a></li>
          <li><a href="#">Consulting</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">Job board</a></li>              
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>Site Source<li>
          <li><a href="https://github.com/vfoss-org" target="_blank">On Github</a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>              
        </ul>
      </div>  
    </div>
	</div>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="#">Terms of Service</a>    
        <a href="#">Privacy</a>    
        <a href="#">Security</a>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2015 ViSRC. Some rights reserved</p>
      </div>
    </div>
  </div>

</div>
</div>
