{% load i18n menu_tags cache %}
{# DOCS: http://django-cms.readthedocs.org/en/latest/advanced/templatetags.html#show-menu-examples #}

{% for child in children %}
<li class="child{% if child.ancestor %} ancestor{% endif %}{% if child.selected %} active{% endif %}{% if child.children and dropdown %} children dropdown{% endif %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
    <a href="{{ child.get_absolute_url }}" {% if child.children and not child.parent and dropdown %} class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
        <span>
            {{ child.get_menu_title }}
            {% if child.children and not child.parent and dropdown %}<span class="caret"></span>{% endif %}
        </span>
    </a>
    {% if child.children %}
        <ul{% if child.children and not child.parent and dropdown %} class="dropdown-menu" role="menu"{% endif %}>
            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </ul>
    {% endif %}
		{% comment %}
		{% endcomment %}
</li>
{% endfor %}
