{% load i18n static cms_tags menu_tags sekizai_tags %}
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
		<a class="navbar-brand" href="/">VFOSS</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			{# show_menu 0 10 0 1 "includes/menu/navigation.html" #}
			{# show_menu 0 10 0 1 "menu/menu.html" #}
			{% show_menu_below_id current_page.get_root.reverse_id 0 100 1 0 %}
			{# show_menu_below_id "home" 1 100 0 100 #}
			<!--
			<li class="divider" role="presentation"><span class="sr-only">{% trans "Separator" %}</span></li>
			<li><a href="{{ BASE_URL }}/projects/">{% trans "Ideas" %}</a></li>
			<li><a href="{{ BASE_URL }}/ask/">{% trans "Ask" %}</a></li>
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Community" %}<b class="caret"></b></a>
        <ul class="dropdown-menu">
					<li><a href="#">{% trans "Tutorials" %}</a></li>
          <li><a href="#">Questions</a></li>
          <li class="divider"></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Open Data</a></li>
          <li class="divider"></li>
        </ul>
      </li>
			-->

			{# show_menu_below_id "page_id" 0 0 0 0 "includes/menu/navigation.html" #}

			{# language_chooser "includes/menu/langnav.html" "native" #}
			{% language_chooser "menu/language_chooser.html" "native" %}
		</ul>

		<ul class="nav navbar-right navbar-nav">
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
			<ul class="dropdown-menu" style="padding:12px;">
				<form class="form-inline">
					<button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input class="form-control pull-left" placeholder="Search" type="text">
				</form>
			</ul>
			</li>
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
			{# --------------------------------------------------#}
			<ul class="dropdown-menu">
				{% if user and not user.is_anonymous %}
				<li><a href="/admin">{{ user.get_full_name|default:user.username }}</a></li>
				<li><a href="/admin">Add Content</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
				{% else %}
				<!-- <li><a href="{{ BASE_URL }}/login/">Login</a></li> -->
				<li><a href="{% url 'auth:login' %}">Login</a></li>
				{% endif %}
				<li><a href="#"></a></li>
			</ul>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
	</div>
</nav>


