{% load i18n menu_tags %}
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
		{# <a class="navbar-brand" href="#">Brand</a>#}
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
			<!-- Get Category from Blog app-->
			<!--
			<li class="active"><a href="{{ BASE_URL }}/newswire/">{% trans "Newswire" %}</a></li>
			-->
			{% show_menu 1 10 0 10 "new_theme/templates/includes/menu/navigation.html" %}
			{# show_menu_below_id "blog" 0 1 0 1 "new_theme/templates/includes/menu/navigation.html" #}

			<!--
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Resources" %}<b class="caret"></b></a>
        <ul class="dropdown-menu">
					<li><a href="#">{% trans "Tutorials" %}</a></li>
					<li><a href="#">{% trans "Questions" %}</a></li>
          <li class="divider"></li>
					<li><a href="#">{% trans "Projects" %}</a></li>
					<li><a href="#">{% trans "Open Data" %}</a></li>
          <li class="divider"></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
			-->
					<li><a href="#">{% trans "More" %}</a></li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
			<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
    </form>
  </div><!-- /.navbar-collapse -->
</nav>


