{#  new_theme/templates/_layout_new_theme.html #}
{# Layout: content - sidebar #}
{% extends "new_theme/templates/_extend_base.html" %}
{% load staticfiles i18n %}
{% load cms_tags menu_tags sekizai_tags %}


{% block meta_tags %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %}{% trans "VFOSS Magazine - The Open Source Beats" %}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static "new_theme/static/css/bootstrap.min.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "new_theme/static/css/new_theme_login.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "new_theme/static/css/share_box.css" %}" type="text/css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static "new_theme/static/css/wp_css/style-font.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "new_theme/static/css/bootstrap-social.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "new_theme/static/css/web_widgets.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "new_theme/static/css/new_theme.css" %}" type="text/css" />
	<link rel="stylesheet" href="{% static "new_theme/static/css/new_theme_blog.css" %}" type="text/css" />
<!--
-->



{% endblock stylesheets %}

{% block javascript %}
	<a href="javascript:" id="return-to-top" class="btn btn-primary btn-lg back-to-top">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a>
	<script src="{% static "new_theme/static/js/jquery-2.0.3.js" %}" type="text/javascript"></script>
	<script src="{% static "new_theme/static/js/bootstrap.js" %}" type="text/javascript"></script>
	<script src="{% static "new_theme/static/js/web_widgets.js" %}" type="text/javascript"></script>

{% endblock javascript %}


{# ------------------------------------------------------------ #}

{% block base_content %}
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">
<div class="base_content_wrapper">

	<div class="main_content_wrapper" role="main_content">
		<div class="main_content">

			{% block breadcrumbs %}
			<ol class="breadcrumb">
				{% show_breadcrumb %}
				{% comment %}
				<li><a href="#">Home</a></li>
				<li><a href="#">Library</a></li>
				<li class="active">Data</li>
				{% endcomment %}
			</ol>
			{% endblock %}
			<div class="app-content">
				{% block main_content %}
				{% endblock %}
			</div>
		</div>
	</div><!-- main_content_wrapper -->

	<div class="sidebar_large" role="sidebar">
		{% block sidebar %}
		{% endblock sidebar %}
	</div>

</div>
</div>
</div>
{% endblock base_content %}

