{% extends CMS_TEMPLATE %}
{#% the first template in CMS_TEMPLATES %#}
{% load cms_tags menu_tags %}

{% block main_content %}
{# overwrite block main_content #}

{% block content %}
<div class="app app-news">
	{% block content_news %}{% endblock %}
</div>
{% endblock %}
{% endblock main_content%}

{# ------------------------------------------------------------ #}
{% block sidebar_cross_app_1 %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Most Shared Sources</h3>
  </div>
  <div class="panel-body">
		{% static_placeholder "most_shared_sources" %}
  </div>
</div>
{% endblock sidebar_cross_app_1 %}
{# ------------------------------------------------------------ #}

{# ------------------------------------------------------------ #}
{% block sidebar_cross_app_2 %}
{% endblock sidebar_cross_app_2 %}
{# ------------------------------------------------------------ #}

{# ------------------------------------------------------------ #}
{% block sidebar_sample_panel %}
{% endblock sidebar_sample_panel %}
