<!DOCTYPE html>
<html>

    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...hello world!</h1>

        {% if news %}
            <ul>
                {% for entry in news %}
								<li><a href="{{ entry.link }}" > {{ entry.title }} </a>
								
								</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no news present.</strong>
        {% endif %}

        <a href="/rango/about/">About</a>
    </body>

</html>
