{% load i18n thumbnail cms_tags %}


<article id="post-{{ post.slug }}" class="blog-item">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<header>
				<div class="blog-item-title">
						<h3><strong>
								<a href="{{ post.get_absolute_url }}" target="_blank">{{ post.title }}</a>
						</strong></h3>
				</div>


				<div class="blog-item-meta">
				{% block blog_meta %}
				{% include "djangocms_blog/includes/blog_meta.html" %}
				{% endblock %}
				</div>
			</header>
		</div>
	</div>

	<div class="row">
		{% if image and post.main_image %}
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="blog-visual">
				{% thumbnail post.main_image post.thumbnail_options.size crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location as thumb %}
				<img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
			</div>
		</div>

		<div class="col-sm-8 col-md-8 col-lg-8">
			<div class="blog-lead">
				{% if not TRUNCWORDS_COUNT %}
				{% render_model post "abstract" %}
				{% else %}
				{% render_model post "abstract" "" "" 'truncatewords_html:TRUNCWORDS_COUNT'  %}
				{% endif %}
				<footer class="read-more">
					<h4><a href="{{ post.get_absolute_url }}">{% trans "read more" %} &raquo;</a></h4>
				</footer>
			</div>
		</div>

		{% else %}

		<div class="col-md-12">      
			<div class="blog-lead">
				{% if not TRUNCWORDS_COUNT %}
				{% render_model post "abstract" %}
				{% else %}
				{% render_model post "abstract" "" "" 'truncatewords_html:TRUNCWORDS_COUNT'  %}
				{% endif %}

				<footer class="read-more">
					<h4><a href="{{ post.get_absolute_url }}">{% trans "read more" %} &raquo;</a></h4>
				</footer>
			</div>
		</div>

		{% endif %}
	</div>
</article>
