{% load i18n thumbnail cms_tags %}

{% block blog_meta %}
<div class="_row">
	<div class="_span8">
		<p style="color:grey">
		<i class="glyphicon glyphicon-user"></i> 
		{% trans "By" %} <a href="{% url 'djangocms_blog:posts-author' post.author.get_username %}">{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %}</a>

		| <i class="glyphicon glyphicon-calendar"></i> 
		{{ post.date_published|date:"DATE_FORMAT" }}
		{% comment %}
		| <i class="icon-comment"></i> <a href="#">3 Comments</a>
		| <i class="icon-share"></i> <a href="#">39 Shares</a>
		{% if news_item.tags and false %}
		| <i class="icon-tags"></i> Tags {% for tag in news_item.tags %}<a href="{{ tag.get_absolute_url }}"><span class="label label-info">{{ tag.name }}</span></a>{% if not forloop.last %}, {% endif %}{% endfor %}
		{% endif %}
		{% endcomment %}

		| <i class="icon-tags"></i> Category
		{% if post.categories.exists %}
			{% for category in post.categories.all %}
				{% if category.slug %}
				<a href="{% url 'djangocms_blog:posts-category' category=category.slug %}" class="blog-categories-{{ category.count }}">{{ category.name }}</a>
					{% if not forloop.last %}, {% endif %}
				{% endif %}
			{% endfor %}
    {% endif %}

		| <i class="icon-tags"></i> Tags 
		{% if post.tags.exists %}
        {% for tag in post.tags.all %}
            <div class="tag_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-tagged' tag=tag.slug %}" class="blog-tag blog-tag-{{ tag.count }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}</div>
        {% endfor %}
    {% endif %}

		</p>
	</div>
</div>
{% endblock %}


