{% load i18n %}
{% spaceless %}
<div class="plugin plugin-blog">
	<!-- <h3>{% trans "Archive" %}</h3> -->
    {% regroup dates by date.year as years %}
    {% with current_year=year current_month=month %}
    <ul class="blog-archive">
        {% for year in years %}
        <li{% if year.grouper == current_year %} class="active"{% endif %}>
            <a href="{% url 'djangocms_blog:posts-archive' year=year.grouper %}">{{ year.grouper }}</a>
            <ul>
                {% for month in year.list %}
                <li{% if year.grouper == current_year and month.date.month == current_month %} class="active"{% else %} class="month"{% endif %}>
                    <a href="{% url 'djangocms_blog:posts-archive' year=year.grouper month=month.date|date:"n" %}">
                        {{ month.date|date:"F" }}
                        <span>(
                            {% if month.count > 0 %}
                            {% blocktrans count articles=month.count %}1 article{% plural %}{{ articles }} articles{% endblocktrans %}
                            {% else %}{% trans "0 articles" %}{% endif %}
                        )</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% empty %}
        <li class="blog-empty"><p>{% trans "No article found." %}</p></li>
        {% endfor %}
    </ul>
    {% endwith %}
</div>
{% endspaceless %}
