{% load i18n %}{% spaceless %}
<div class="plugin plugin-blog">
	<div class="blog-latest-entries">

		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<h3 class="section-title">Latets Articles</h3>
				{% for post in posts_list %}
				{% include "djangocms_blog/includes/blog_item.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
				<hr>
				{% empty %}
				<p class="blog-empty">{% trans "No article found." %}</p>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
{% endspaceless %}
