{# extending theme_base #}
{# extends "wp_clear3/templates/_layout_wp_clear3_content_sidebar_wide.html" #}
{% extends "_extend_theme_proxy.html" %}

{% block main_content %}
	{% block cmsplugin_news_content %}
	{% endblock %}
{% endblock main_content %}

{# ------------------------------------------------------------ #}
{% block sidebar_tab_panel %}
<div class="panel panel-default">
	<div class="panel-heading">
		<!-- Nav tabs -->
		<ul class="nav nav-pills">
			<li><a href="#topics" data-toggle="tab">Hot Topics</a></li>
			<li><a href="#contributers" data-toggle="tab">Top Contributers</a></li>
		</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="topics">
				topcis
			</div>
			<div class="tab-pane fade" id="contributers">
				{# blog_show_authors #}
				contributers
			</div>
		</div>

	</div>
</div>
{% endblock sidebar_tab_panel %}
{# ------------------------------------------------------------ #}

{% block sidebar_bogus %}
{% endblock sidebar_bogus %}
