{% extends "cmsplugin_news/cmsplugin_news_base.html" %}
{% load i18n simple_translation_tags %}
{# load cmsplugin_blog_tags #}


{% block cmsplugin_news_content %}
<div class="panel panel-default">
  <div class="panel-heading">
		<h3 class="panel-title">
			{% trans "Shared by members" %}
		</h3>
  </div>
	<div class="panel-body">
		{% with latest as object_list %}
		{% if object_list %}
		{% for entry in object_list %}

		<h4><strong><a href="{{ entry.get_absolute_url }}" target="_blank" title="{{ news.title }}">{{ entry.title }}</a></strong></h4>

		<p>
		<i class="icon-user"></i> Source
		<a href="{{ entry.link }}"> Internet </a> 
		| <i class="icon-user"></i> Shared by 
		<a href="{{ entry.author.get_absolute_url }}"> {{ entry.author }}</a> 
		| <i class="icon-calendar"></i> {{ entry.pub_date|date:"d F Y" }} 
		<!-- 
		| <i class="icon-comment"></i> <a href="#">3 Comments</a>
		| <i class="icon-share"></i> <a href="#">39 Shares</a>
		-->
		| <i class="icon-tags"></i> Tags : 
		<a href="#"><span class="label label-info">Snipp</span></a> 
		<a href="#"><span class="label label-info">Bootstrap</span></a> 
		<a href="#"><span class="label label-info">UI</span></a> 
		<a href="#"><span class="label label-info">growth</span></a>
		</p>

		<p></p>

		<p>
		{{ entry.excerpt }}
		</p>

		{% endfor %}
		{% else %}
		<p>{% trans "No entries" %}</p>
		{% endif %}
		{% endwith %}
	</div>
</div>



{% endblock cmsplugin_news_content %}

