* {
    margin: 0;
    padding: 0;
}
body {
    background: url("images/background.gif") repeat-x scroll 0 0 #F7F6F6;
    color: #333333;
    font: 12px Verdana;
    text-align: center;
}
a {
    color: #003366;
}
a:hover {
    color: #FF0000;
    text-decoration: none;
}
img {
    border: 0 none;
}
.break {
    clear: both;
    font-size: 0;
    height: 0;
    width: 0;
}
.alignleft {
    float: left;
    margin: 4px 10px 5px 0;
}
.alignright {
    float: right;
    margin: 4px 0 5px 10px;
}
.aligncenter {
    text-align: center;
}
.hidden {
    display: none;
}
#wrapper {
    margin: auto;
    text-align: left;
    width: 980px;
}
#header {
    height: 200px;
    margin-bottom: 15px;
}
#header .pages {
    float: left;
    height: 39px;
    list-style-type: none;
    padding-top: 3px;
}
#header .pages li {
    float: left;
}
#header .pages li a {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 12px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
#header .pages li a:hover {
    text-decoration: underline;
}
#header form {
    background: url("images/search.gif") no-repeat scroll 0 8px transparent;
    float: right;
    height: 26px;
    padding: 8px 30px 0 0;
    width: 245px;
}
#header form input {
    border: 0 none;
    float: left;
    margin: 5px;
    width: 170px;
}
#header form button {
    background-color: transparent;
    border: 0 none;
    float: right;
    font-size: 0;
    height: 26px;
    text-indent: -9999px;
    width: 60px;
}
#header .logo {
    clear: both;
    float: left;
    padding: 30px 0 36px 20px;
}
#header .logo h1 {
    font-size: 2em;
    text-transform: uppercase;
}
#header .logo h1 a {
    text-decoration: none;
}
#header .logo p {
    color: #888888;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}
#header .sponsor {
    float: right;
    padding: 25px 0;
}
#nav {
}
#nav .categories {
    border-bottom: 5px solid #003366;
    border-top: 1px solid #DDDDDD;
    clear: both;
    height: 40px;
    list-style-type: none;
    overflow: hidden;
}
#nav .categories li {
    float: left;
}
#nav .categories li a {
    border-right: 1px solid #DDDDDD;
    color: #333333;
    display: block;
    padding: 13px;
    text-decoration: none;
}
#nav .categories li a:hover {
    background-color: #003366;
    color: #FFFFFF;
}
#content {
    clear: both;
    float: left;
    padding-bottom: 10px;
    width: 650px;
}
#featured {
    border: 1px solid #DDDDDD;
    height: 245px;
    margin-bottom: 10px;
    padding: 10px;
}
#featured .post {
    padding: 10px;
}
#featured h2 {
    font-size: 1.6em;
    margin-bottom: 5px;
}
#featured h2 a {
    text-decoration: none;
}
#featured .details {
    color: #888888;
    font-size: 0.9em;
    margin-bottom: 15px;
}
#featured .details a {
    color: #888888;
    text-decoration: none;
}
#featured .details a:hover {
    color: #003366;
    text-decoration: underline;
}
#featured .thumb {
    border: 1px solid #DDDDDD;
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px;
}
#featured .thumb a {
    display: block;
    height: 175px;
    overflow: hidden;
    width: 300px;
}
#featured .thumb a img {
    width: 300px;
}
#featured p {
    line-height: 1.4em;
    margin-bottom: 10px;
}
#featured .tags {
    clear: both;
    color: #888888;
    font-size: 0.9em;
    margin-bottom: 0;
}
#featured .tags a {
    text-decoration: none;
}
#featured .readmore {
    font-size: 0.8em;
}
#content .recent {
    border: 1px solid #DDDDDD;
}
#content .recent .post {
    clear: both;
    padding: 15px;
}
#content .recent .post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
#content .recent .post h2 a {
    text-decoration: none;
}
#content .recent .post img {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    float: right;
    margin-left: 20px;
    padding: 5px;
}
#content .recent .post p {
    line-height: 1.4em;
    margin-bottom: 10px;
}
#content .recent .post .readmore {
    font-size: 0.8em;
}
#content .recent .o {
    background-color: #EEEEEE;
}
#content {
}
#sidebar {
    float: right;
    width: 320px;
}
#sidebar .box {
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
}
#sidebar .box h2 {
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    color: #003366;
    font-size: 0.9em;
    padding: 10px;
    text-transform: uppercase;
}
#sidebar .box ul {
    list-style-position: inside;
    list-style-type: square;
    padding: 10px;
}
#sidebar .box ul li {
    color: #888888;
    line-height: 1.4em;
    padding: 2px 0;
}
#sidebar .box ul li a {
    color: #888888;
    text-decoration: none;
}
#sidebar .box ul li a:hover {
    color: #003366;
    font-weight: bold;
    text-decoration: underline;
}
#sidebar .box .video {
    padding: 12px;
}
#sidebar .box .flickr {
    padding: 5px;
    text-align: center;
}
#sidebar .box .flickr img {
    margin: 6px;
}
#sidebar .box .tags {
    padding: 10px;
}
#sidebar .box .tags a {
    color: #888888;
    text-decoration: none;
}
#sidebar .box .tags a:hover {
    color: #003366;
    text-decoration: underline;
}
#sidebar .box .popular {
    list-style-position: outside;
    list-style-type: none;
}
#sidebar .box .popular li {
    padding: 5px 0;
}
#sidebar .box .popular li a {
    color: #003366;
    font-weight: bold;
    text-decoration: underline;
}
#sidebar .box .popular li p {
    padding-top: 5px;
}
#sidebar .box .sponsors {
    padding: 10px 10px 0;
    text-align: center;
}
#sidebar .box .sponsors img {
    margin: 6px;
}
#sidebar .box .bookmarks {
    list-style-position: outside;
    list-style-type: none;
    padding: 5px 25px 10px;
}
#sidebar .box .bookmarks li {
    background-position: 0 6px;
    background-repeat: no-repeat;
    border-bottom: 1px dotted #CCCCCB;
    font-family: Arial;
    padding: 5px 0 5px 20px;
}
#sidebar .box .bookmarks li a {
    color: #DA3372;
}
#sidebar .box .bookmarks li.rss {
    background-image: url("images/rss.gif");
}
#sidebar .box .bookmarks li.twt {
    background-image: url("images/twitter.gif");
}
#sidebar .box .bookmarks li.fcb {
    background-image: url("images/facebook.gif");
}
#sidebar .box .bookmarks li.ldi {
    background-image: url("images/linkedin.gif");
}
#sidebar .l {
    float: left;
    width: 155px;
}
#sidebar .r {
    float: right;
    width: 155px;
}
#footer {
    background-color: #003366;
    clear: both;
    color: #FFFFFF;
    font-size: 0.9em;
    padding: 20px 10px;
}
#footer a {
    color: #FFFFFF;
}
#footer p {
    margin: auto;
    text-align: left;
    width: 980px;
}
#content .postnav {
    clear: both;
    padding: 10px 0;
}
#content .postnav ul {
    list-style-type: none;
    padding: 10px;
}
#content .postnav ul li {
    color: #B5B4BC;
    float: left;
    padding: 4px;
}
#content .postnav ul li a {
    border: 1px solid #E2E2E2;
    color: #636363;
    display: block;
    padding: 2px 6px;
    text-decoration: none;
}
#content .postnav ul li a:hover {
    border-color: #FFFFFF;
}
#wp_page_numbers ul {
    border-top: 0 none !important;
}
#wp_page_numbers .page_info {
    border: 1px solid #E0E0E0 !important;
    margin-right: 2px;
    margin-top: 4px;
    padding: 3px 6px !important;
}
#wp_page_numbers .active_page a {
    background-color: #FFFFFF !important;
    border: 0 none !important;
}
#content .single {
    padding: 10px;
}
#content .single h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
#content .single p {
    line-height: 1.5em;
    margin-bottom: 10px;
}
#content .single ul, #content .single ol {
    list-style-position: inside;
    margin-bottom: 10px;
}
#content .single li {
    line-height: 1.5em;
    padding: 2px 0;
}
#content .single blockquote {
    background-color: #EEEEEE;
    border-color: #E0E0E0;
    border-style: solid;
    border-width: 1px 0;
    margin-bottom: 10px;
    padding: 10px 10px 5px;
}
#content .single h3, #content .single h4, #content .single h5, #content .single h6 {
    font-size: 1.2em;
    margin-bottom: 5px;
}
#comments {
    padding: 10px;
}
#comments h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
#comments a {
    text-decoration: none;
}
#comments p {
    line-height: 1.6em;
    margin-bottom: 10px;
}
#comments form {
}
#comments form p {
    margin-bottom: 5px;
}
#comments form input {
    margin-right: 5px;
}
#comments form input, textarea {
    background-position: 4px 4px;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    font-family: Verdana;
    font-size: 0.9em;
    padding: 4px;
}
#comments form input {
    border: 1px solid #CCCCCC;
    width: 240px;
}
#comments form textarea {
    border: 1px solid #CCCCCC;
    padding: 4px !important;
    width: 350px;
}
#comments form button {
    border: 1px solid #A0A0A0;
    font-family: Verdana;
    font-size: 1em;
    padding: 2px 6px;
}
.commentdetails {
    margin-top: 25px;
}
.commentauthor {
    font-weight: bold;
    margin-bottom: 5px !important;
}
.commentdate {
    color: #909090;
    font-size: 0.8em;
    margin-bottom: 5px;
}
.required {
    color: #FF0000;
}
h2.title {
    color: #565656;
    font-size: 1em !important;
    padding: 10px;
    text-transform: uppercase;
}
.notfound {
    padding: 40px;
}
.notfound h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}
#comments ol {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#comments .buffer {
    padding: 10px;
}
#comments ol li {
    margin-bottom: 10px;
}
#comments ol li ul li {
    border: 1px solid #E0E0E0;
    padding: 10px;
}
#comments ol li .avatar {
    float: right;
}
#comments ol li .comment-author {
}
#comments ol li .comment-author .fn {
    font-size: 1.2em;
    font-weight: bold;
}
#comments ol li .comment-meta {
    color: #999999;
    font-size: 0.9em;
    margin: 5px 0 10px;
}
#comments ol li .reply {
    font-size: 0.9em;
    font-weight: bold;
    padding-bottom: 10px;
}
#comments .children {
    list-style-type: none;
}
#comments .navigation {
    font-size: 0.9em;
    padding: 0 0 40px;
}
#comments .navigation a {
    border: 1px solid #CCCCCC;
    color: #999999;
    padding: 3px 8px;
}
#comments .navigation a:hover {
    border-color: #000000;
    color: #000000;
    text-decoration: none;
}
#comments .says {
    display: none;
}

