{#  new_theme/templates/pages/base.html #}
{# This is the template of a CMS page #}
{# Plugins should reuse this template only if they want to overwrite a part of this template (main_content, sidebar_cross_app)#}
{# Plugins should overwrite _layout_new_theme.html to maximally customize their design #}
{% extends "new_theme/templates/_layout_new_theme.html" %}
{% load i18n staticfiles %}
{% load social_widgets %}
{# load dragoman_blog_tags #}
{# load i18n cmsplugin_blog_tags #}

{% block meta_tags %}
	{{ block.super }}
{% endblock %}


{# --- PAGE CONTENT --- #}

{% block body_top_js_block %}
Facebook comment e.g.
{% endblock %}

{# ------------------------------------------------------------ #}
{% block main_content %}
{# show block main_content of parent template #}
{{ block.super }}

PLUGIN EXTENDS NEW_THEME AND OVERWRITE THIS BLOCK WITH ITS INCLUDES
this is it this is it this is it this is it this is it this is it 
this is it this is it this is it this is it this is it this is it 
this is it this is it this is it this is it this is it this is it 
{% endblock %}
{# ------------------------------------------------------------ #}

{# --- SIDEBAR CONTENT --- #}
{# ------------------------------------------------------------ #}
{% block sidebar %}
{# show block main_content of parent template #}
{{ block.super }}

{# ---------------------------------------- #}
{% block sidebar_subscribe %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">

		<!--
		<p>Subscribe to receive latest articles</p>
			<small>Privacy guaranteed.</small>
		<p>
			{# social_widget_render "facebook/follow_button.html" href="https://www.facebook.com/vfoss.org" app_id=718938904791933 layout="button_count" #}
		</p>
		<p>
			{# social_widget_render "twitter/follow_button.html" username="fossvietnam" show_screen_name=True show_count=False size="medium" dnt=False #} 
		</p>
		<p>
			{# social_widget_render "google/youtube_subscribe_button.html" channel="fossvietnam" theme="default" layout="default" count="default" #} 
		</p>
		<p>
			{# social_widget_render "google/plus_page_badge.html" language="en-US" href="https://plus.google.com/u/0/b/101649594408862984916/101649594408862984916" layout="portrait" showcoverphoto=True showtagline=True theme="light" width=300 #} 
		</p>
		<p>
				<a title="Subscribe via RSS Feed" href="#/feed/"><img class="rss-sub" src="{#% static "new_theme/static/images/feed.png" %#}" alt="Subscribe via RSS Feed" align="top"></a>
		</p>
		-->
		<!--
		<a target="_blank" title="Connect on Flickr" rel="external" href="http://www.flickr.com/photos/"><img class="flickr-sub" src="{# static "new_theme/static/images/flickr.png" #}" alt="Connect on Flickr" align="top"></a>
		<a target="_blank" title="Connect on Pinterest" rel="external" href="http://www.pinterest.com/user"><img class="pinterest-sub" src="{#% static "new_theme/static/images/pinterest.png" #}" alt="Connect on Pinterest" align="top"></a>
		<a target="_blank" title="Connect on LinkedIn" rel="external" href="http://www.linkedin.com/in/user"><img class="linkedin-sub" src="{# static "new_theme/static/images/linkedin.png" #}" alt="Connect on LinkedIn" align="top"></a>
		-->
		<!--
		<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<a class="btn btn-block btn-social btn-facebook" target="_blank" title="Connect on Facebook" rel="external" href="https://www.facebook.com/pages/VFOSS/220511628091587">
			<span class="fa fa-facebook">
		</a>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3">
		<a class="btn btn-block btn-social btn-twitter" target="_blank" rel="external" title="Follow Me on Twitter" href="https://twitter.com/fossvietnam">
			<span class="fa fa-twitter">
		</a>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3">
		<a class="btn btn-block btn-social btn-youtube" target="_blank" title="Connect on YouTube" rel="external" href="http://www.youtube.com/user/fossvietnam"><img class="youtube-sub" src="{#% static "new_theme/static/images/youtube.png" %#}" alt="Connect on YouTube" align="top">
		</a>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3">
		<a class="btn btn-block btn-social btn-google" target="_blank" title="Connect on Google Buzz" rel="external" href="https://plus.google.com/communities/104488575627985159453">
			<span class="fa fa-google">
		</a>
		</div>
		</div>

		<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=michaelpollock', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
				<input value="michaelpollock" name="uri" type="hidden">
				<input name="loc" value="en_US" type="hidden">
				<p class="email-form">
				<input class="sub" name="email" value="subscribe via email" onfocus="if (this.value == 'subscribe via email') {this.value = '';}" onblur="if (this.value == '') {this.value = 'subscribe via email';}" type="text"><input value="submit" class="subbutton" type="submit">
				</p>
			</form>
		</div>
		</div>
		-->


<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">
	<div id="share-buttons">

		<!-- Email -->
		<a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20">
			<img src="{% static "new_theme/static/images/social_buttons/email.png" %}" alt="Twitter" />
		</a>
		<!-- Facebook 
		<a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/vfoss.org" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
		</a>
		-->
		<a href="http://www.facebook.com/vfoss.org" target="_blank">
			<img src="{% static "new_theme/static/images/social_buttons/facebook.png" %}" alt="Twitter" />
		</a>

		<!-- Google+ -->
		<a href="https://plus.google.com/communities/104488575627985159453" target="_blank">
			<img src="{% static "new_theme/static/images/social_buttons/google.png" %}" alt="Twitter" />
		</a>

		<!-- Twitter -->
		<a href="https://twitter.com/fossvietnam" target="_blank">
			<img src="{% static "new_theme/static/images/social_buttons/twitter.png" %}" alt="Twitter" />
		</a>
		<!--
		<a href="https://bufferapp.com/add?url=https://simplesharebuttons.com&amp;text=Simple Share Buttons" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/buffer.png" alt="Buffer" />
		</a>

		<a href="http://www.digg.com/submit?url=https://simplesharebuttons.com" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" />
		</a>

		<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
		</a>

		<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
		<img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
		</a>

		<a href="javascript:;" onclick="window.print()">
		<img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
		</a>

		<a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
		</a>

		<a href="http://www.stumbleupon.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" />
		</a>

		<a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
		</a>

		<a href="http://vkontakte.ru/share.php?url=https://simplesharebuttons.com" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/vk.png" alt="VK" />
		</a>

		<a href="http://www.yummly.com/urb/verify?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/yummly.png" alt="Yummly" />
		</a>
		-->
	</div>
	</div>
</div>

	</div>
</div>


{% endblock sidebar_subscribe %}
{# ---------------------------------------- #}

{# ---------------------------------------- #}
{% block sidebar_cross_app_3 %}
{% social_widget_render "facebook/likebox.html" locale="en_US" href="https://www.facebook.com/vfoss.org" width=300 height=300 colorscheme="light" force_wall=False header=True show_border=False show_faces=True stream=False %}
{% endblock sidebar_cross_app_3 %}

{# ---------------------------------------- #}

{# ---------------------------------------- #}
{% block sidebar_tab_panel %}
<div class="panel panel-default">
	<div class="panel-heading">
		<!-- Nav tabs -->
		<ul class="nav nav-pills">
			<li><a href="#comments" data-toggle="tab">Comments</a></li>
			<li><a href="#authors" data-toggle="tab">Authors</a></li>
			<li><a href="#archives" data-toggle="tab">Archives</a></li>
		</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="comments">comments</div>
			<div class="tab-pane fade" id="authors">
				authors should be shown here!

				{# blog_show_authors #}

			</div>
			<div class="tab-pane fade" id="archives">archives</div>
		</div>

	</div>
</div>
{% endblock sidebar_tab_panel %}
{# ---------------------------------------- #}

{% block ad_banner_sidebar_1 %}
{% endblock %}

<!--
	{# ---------------------------------------- #}
	{% block sidebar_cross_app_1 %}
	<div class="panel panel-default">
	<div class="panel-heading">
	<h3 class="panel-title">Cross App 1</h3>
	</div>
	<div class="panel-body">
	Panel content
	</div>
	</div>
	{% endblock sidebar_cross_app_1 %}
	{# ---------------------------------------- #}

	{# ---------------------------------------- #}
	{% block sidebar_cross_app_2 %}
	<div class="panel panel-default">
	<div class="panel-heading">
	<h3 class="panel-title">Cross App 2</h3>
	</div>
	<div class="panel-body">
	Panel content
	</div>
	</div>
	{% endblock sidebar_cross_app_2 %}
	{# ---------------------------------------- #}

	{# ---------------------------------------- #}
	{% block sidebar_sample_panel %}
	PLUGIN EXTENDS NEW_THEME AND OVERWRITE THIS BLOCK WITH ITS INCLUDES
	sidebar_sample_panel
	this is it this is it this is it this is it this is it this is it 
	this is it this is it this is it this is it this is it this is it 
	this is it this is it this is it this is it this is it this is it 
	this is it this is it this is it this is it this is it this is it 
	this is it this is it this is it this is it this is it this is it 
	this is it this is it this is it this is it this is it this is it 
	this is it this is it this is it this is it this is it this is it 
	this is it this is it this is it this is it this is it this is it 
	this is it this is it this is it this is it this is it this is it 
	{% endblock %}
	{# ---------------------------------------- #}
-->
{% endblock sidebar %}
{# ------------------------------------------------------------ #}

{% block third_analytics %}
ADS AND ANALYTICS IN CHILD TEMPLATE 
{% endblock %}
