@media (min-width:768px) {
}
@font-face {
  font-family: Calibri;
  src: url(../fonts/Calibri.ttf);
 }

body {
	min-height: 100%;
	padding-top: 70px;
	font-family: "Calibri","Lato","Helvetica Neue","Arial","Helvetica",sans-serif;
	font-size: 15px;
	color: #494949;
}

.navbar-static-top {
	margin-bottom: 19px;
}

.base-content {

}

/* http://medialoot.com/blog/how-to-move-a-responsive-sidebars-position-with-css/*/
.base_content_wrapper {
	width:100%;
	max-width: 1160px;
	position: relative;
	margin: 0 auto;
}

.main_content_wrapper {
	float: left;
	width: 100%;
}

.main_content, .sidebar_left, .sidebar_right, .sidebar_large {
	/*
	width: 100%;
	float: left;
	*/
}

/*3 Column Layout*/

/*Wide Layout*/
@media only screen and (min-width: 1024px) {
	.main_content {
		/*
		width: 100%;
		float: left;
		min-height: 600px;
		  */
		margin-right: 320px;
		clear: both;
		overflow: hidden;
		/*
		 */
	}

	.sidebar, .sidebar_large {
		position: relative;
		float: right;
		width: 300px;
		margin-left: -300px;
		/*
		overflow: hidden;
		*/
	}
}

/* End 3 columns*/

@media only screen and (min-width: 724px, max-width: 1023px) {

	.main_content_wrapper, .main_content, .sidebar_left, .sidebar_right, .sidebar_large {
		position: relative;
	}

	.main_content, .sidebar_large {
		top: 0;
	}
	
	.main_content {
		left: 0;
	}

	.sidebar_large {
		left:50%;

	}
}
/* */

.app-content {
	padding: 8px 0px;
}

.page-header {
  border-bottom-width: 0px;
}

.section-title {
	background-color: #f5f5f5;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px
}

.footer .footer-content {
	background-color: #f5f5f5;
}

.news-list {
	margin-left: -15px;
}

