/*
+----------------------------------------------------------------+
|	WordPress 2.6 Plugin: WP-PageNavi 2.40
|	Copyright (c) 2008 Lester "GaMerZ" Chan
|
|	File Written By:
|	- Lester "GaMerZ" Chan
|	- http://lesterchan.net
|
|	File Information:
|	- Page Navigation CSS Style
|	- wp-content/plugins/wp-pagenavi/pagenavi-css.css
+----------------------------------------------------------------+
*/

.wp-pagenavi {
	padding: 0; 
	margin: 0;
	clear:both;
	font-weight:normal;
	}

.wp-pagenavi a, 
.wp-pagenavi a:link,
.wp-pagenavi a:visited {
	padding: 5px 10px; 
	margin: 0 5px 0 0;
	border: 1px solid #ebebeb;
	background:#fff url(../images/catnav-bg.png) bottom left repeat-x;
	color:#888;	
	}

.wp-pagenavi a:hover, .wp-pagenavi a:active  {	
	background-color: #fff;
	color:#000;
	}

.wp-pagenavi span.pages {
	position:absolute;
	left:-999em;
	display:none;
	}

.wp-pagenavi span.current {
	padding: 5px 10px; 
	margin: 0 5px 0 0;
	border: 1px solid #ebebeb;
	background: #fff;
	color:#000;
	}

.wp-pagenavi span.extend {
	padding: 5px 10px;  
	margin: 0 5px 0 0;
	border: 1px solid #ebebeb;
	background:#fff url(../images/catnav-bg.png) bottom left repeat-x;
	color:#888;	
	}
