{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- http://all-free-download.com/free-website-templates-preview/simple_scheme_magazine_template_1880/ -->
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

		<link rel="stylesheet" href="{{ STATIC_URL }}vfoss_org_v01/static/css/styles.css" type="text/css" />
		<script type="text/javascript" src="{{ STATIC_URL }}vfoss_org_v01/static/js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}vfoss_org_v01/static/js/jquery.cycle.all.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}vfoss_org_v01/static/js/script.js"></script>
		<title>{{ request.current_page.get_title }}</title>
		{% render_block "css" %}
	</head>

	<body>
		{% cms_toolbar %}


<!-- BEGIN wrapper -->
<div id="wrapper">
  <!-- BEGIN header -->
  <div id="header">
		{% placeholder "header" or %}
		{% show_placeholder "header" request.current_page.get_home_pk_cache %}
		<!-- begin pages -->
		<ul class="pages">
      <li><a href="http://all-free-download.com/free-website-templates/">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="page.html">Projects</a></li>
      <li><a href="blog">Blog</a></li>
      <li><a href="contact.html">Community</a></li>
    </ul>
    <!-- end pages -->
    <form action="http://all-free-download.com/free-website-templates/">
      <input name="s" id="s" value="" type="text">
      <button type="submit">Search</button>
    </form>
    <div class="break"></div>
    <!-- begin logo -->
    <div class="logo">
      <h1><a href="http://all-free-download.com/free-website-templates/">FOSS Vietnam</a></h1>
      <p>An opensource community</p>
    </div>
    <!-- end logo -->
    <!-- begin sponsor -->
    <div class="sponsor"> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/ad468x60.gif" alt=""></a> </div>
    <!-- end sponsor -->
  		{% endplaceholder %}
		<div class="clear"></div>
  </div>
  <!-- END header -->

	<div id="nav">
    	<ul>
				{% show_menu 0 0 0 0 %}
		</ul>

		{% block nav %}

		<!-- begin categories -->
		<ul class="categories">
			<li><a href="http://all-free-download.com/free-website-templates/">News</a></li>
			<li><a href="http://all-free-download.com/free-website-templates/">Linux/Unix</a></li>
			<li><a href="http://all-free-download.com/free-website-templates/">Mobile</a></li>
			<li><a href="http://all-free-download.com/free-website-templates/">Cloud</a></li>
			<li><a href="http://all-free-download.com/free-website-templates/">Data</a></li>
			<li><a href="http://all-free-download.com/free-website-templates/">Pictures</a></li>
			<li><a href="http://all-free-download.com/free-website-templates/">Resources</a></li>
			<li><a href="http://all-free-download.com/free-website-templates/">Videos</a></li>
		</ul>
		<!-- end categories -->

		{% endblock %}
	</div>
	<!-- end nav -->

	<!-- BEGIN content -->
	{% block content %}
	<div id="content">

		<!-- begin featured -->
		{% block featured %}		
		<div style="position: relative; overflow: hidden;" id="featured">
			<div id="slide_show">		
			{% placeholder "slider_images" or %}
				<div style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1; width: 628px; height: 270px;" class="post">
				<h2><a href="http://all-free-download.com/free-website-templates/">Raspberry Pi: Turbo - Warranty safe overclocking </a></h2>
				<p class="details"> SEP 10 2012 | <a href="http://all-free-download.com/free-website-templates/">Monster</a> | <a href="http://all-free-download.com/free-website-templates/">Linux</a> | <a href="http://all-free-download.com/free-website-templates/">3 Comments</a> </p>
				<div class="thumb"><a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_featured.jpg" alt=""></a></div>
				<p>Since the Raspberry Pi’s release, it hasn’t been uncommon for people to overvolt and overclock their Pi’s to get a little extra oomph for day to day tasks. Linux User’s Editor Russell Barnes has even had a look at it, reporting that there was no discernable heat increase on his board. Now this unofficial power boost is becoming official, with newer distro images coming with the ability to let you turn on turbo mode.</p>
				<p class="readmore">[ <a href="http://all-free-download.com/free-website-templates/">read more</a> ]</p>
				<p class="tags">TAGS: <a href="http://all-free-download.com/free-website-templates/">money</a>, <a href="http://all-free-download.com/free-website-templates/">currency</a>, <a href="http://all-free-download.com/free-website-templates/">product</a></p>
        <div class="break"></div>
      </div>
      		<div style="position: absolute; top: 0px; left: -628px; display: none; z-index: 2; opacity: 1; width: 628px; height: 270px;" class="post">
        <h2><a href="http://all-free-download.com/free-website-templates/">Top 10 Make Money Online Tips for 2009</a></h2>
        <p class="details"> JUN 10 2009 | <a href="http://all-free-download.com/free-website-templates/">ChiQ Montes</a> | <a href="http://all-free-download.com/free-website-templates/">Advertising</a> | <a href="http://all-free-download.com/free-website-templates/">3 Comments</a> </p>
        <div class="thumb"><a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_featured.jpg" alt=""></a></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit feugiat. Ut vel orci quis sem dapibus iaculis.</p>
        <p class="readmore">[ <a href="http://all-free-download.com/free-website-templates/">read more</a> ]</p>
        <p class="tags">TAGS: <a href="http://all-free-download.com/free-website-templates/">money</a>, <a href="http://all-free-download.com/free-website-templates/">currency</a>, <a href="http://all-free-download.com/free-website-templates/">product</a></p>
        <div class="break"></div>
      </div>
			{% endplaceholder %}
			</div>
    	</div>
    {% endblock %}
    <!-- end featured -->

    <!-- begin recent posts -->
    <div class="recent">

      <!-- begin post -->
      <div class="o post"> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_thumb.jpg" alt=""></a>
        <h2><a href="http://all-free-download.com/free-website-templates/">Special Twitter Icons for Sale</a></h2>
        <p>Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit feugiat. Ut vel orci quis sem dapibus iaculis.</p>
        <p class="readmore">[ <a href="http://all-free-download.com/free-website-templates/">read more</a> ]</p>
        <div class="break"></div>
      </div>
      <!-- end post -->
      <!-- begin post -->
      <div class="e post"> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_thumb.jpg" alt=""></a>
        <h2><a href="http://all-free-download.com/free-website-templates/">Special Twitter Icons for Sale</a></h2>
        <p>Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit feugiat. Ut vel orci quis sem dapibus iaculis.</p>
        <p class="readmore">[ <a href="http://all-free-download.com/free-website-templates/">read more</a> ]</p>
        <div class="break"></div>
      </div>
      <!-- end post -->
      <!-- begin post -->
      <div class="o post"> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_thumb.jpg" alt=""></a>
        <h2><a href="http://all-free-download.com/free-website-templates/">Special Twitter Icons for Sale</a></h2>
        <p>Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit feugiat. Ut vel orci quis sem dapibus iaculis.</p>
        <p class="readmore">[ <a href="http://all-free-download.com/free-website-templates/">read more</a> ]</p>
        <div class="break"></div>
      </div>
      <!-- end post -->
      <!-- begin post -->
      <div class="e post"> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_thumb.jpg" alt=""></a>
        <h2><a href="http://all-free-download.com/free-website-templates/">Special Twitter Icons for Sale</a></h2>
        <p>Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit feugiat. Ut vel orci quis sem dapibus iaculis.</p>
        <p class="readmore">[ <a href="http://all-free-download.com/free-website-templates/">read more</a> ]</p>
        <div class="break"></div>
      </div>
      <!-- end post -->
    </div>
    <!-- end recent posts -->
  </div>
  <!-- END content -->
	{% endblock %}

	{% block sidebar %}
  <!-- BEGIN sidebar -->
  <div id="sidebar">
    <!-- begin sponsors -->
    <div class="box">
      <p class="sponsors"> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/ad125x125.jpg" alt=""></a> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/ad125x125.jpg" alt=""></a> </p>
      <ul class="bookmarks">
        <li class="rss"><a href="http://all-free-download.com/free-website-templates/">Subscribe via RSS feed</a></li>
        <li class="twt"><a href="http://all-free-download.com/free-website-templates/">Follow me on Twitter</a></li>
        <li class="fcb"><a href="http://all-free-download.com/free-website-templates/">Connect with me on Facebook</a></li>
        <li class="ldi"><a href="http://all-free-download.com/free-website-templates/">Connect with me on LinkedIn</a></li>
      </ul>
    </div>
    <!-- end sponsors -->
    <!-- begin popular posts -->
    <div class="box">
      <h2>Popular Posts</h2>
      <ul class="popular">
        <li> <a href="http://all-free-download.com/free-website-templates/">Top 10 Ways to Make Money Online</a>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..</p>
        </li>
        <li> <a href="http://all-free-download.com/free-website-templates/">Top 10 Ways to Make Money Online</a>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..</p>
        </li>
        <li> <a href="http://all-free-download.com/free-website-templates/">Top 10 Ways to Make Money Online</a>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..</p>
        </li>
      </ul>
    </div>
    <!-- end popular posts -->
    <!-- begin flickr images -->
    <div class="box">
      <h2>Flickr Images</h2>
      <div class="flickr"> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_flickr.jpg" alt=""></a> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_flickr.jpg" alt=""></a> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_flickr.jpg" alt=""></a> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_flickr.jpg" alt=""></a> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_flickr.jpg" alt=""></a> <a href="http://all-free-download.com/free-website-templates/"><img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_flickr.jpg" alt=""></a> </div>
    </div>
    <!-- end flickr images -->
    <!-- begin featured video -->
    <div class="box">
      <h2>Featured Video</h2>
      <div class="video"> <img src="{{ STATIC_URL }}vfoss_org_v01/static/images/_video.jpg" alt=""> </div>
    </div>
    <!-- end featured video -->
    <!-- begin tag cloud -->
    <div class="box">
      <h2>Tag Cloud</h2>
      <div class="tags"> <a href="http://all-free-download.com/free-website-templates/">Link</a> </div>
    </div>
    <!-- end tag cloud -->
    <!-- BEGIN left -->
    <div class="l">
      <!-- begin categories -->
      <div class="box">
        <h2>Categories</h2>
        <ul>
          <li><a href="http://all-free-download.com/free-website-templates/">Advertising</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Fashion</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Gadgets</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Lifestyle</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Networking</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">News</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Sports</a></li>
        </ul>
      </div>
      <!-- end categories -->
      <!-- begin meta -->
      <div class="box">
        <h2>Meta</h2>
        <ul>
          <li><a href="http://all-free-download.com/free-website-templates/">Log in</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Valid XHTML</a></li>
        </ul>
      </div>
      <!-- end meta -->
    </div>
    <!-- END left -->
    <!-- BEGIN right -->
    <div class="r">
      <!-- begin archives -->
      <div class="box">
        <h2>Archives</h2>
        <ul>
          <li><a href="http://all-free-download.com/free-website-templates/">June 2009</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">May 2009</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">April 2009</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">March 2009</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">February 2009</a></li>
        </ul>
      </div>
      <!-- end archives -->
      <!-- begin blogroll -->
      <div class="box">
        <h2>Blogroll</h2>
        <ul>
          <li><a href="http://all-free-download.com/free-website-templates/">Documentation</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Suggest Ideas</a></li>
          <li><a href="http://all-free-download.com/free-website-templates/">Support Forum</a></li>
        </ul>
      </div>
      <!-- end archives -->
    </div>
    <!-- END right -->
  </div>
  <!-- END sidebar -->
  {% endblock %}

</div>
<!-- END wrapper -->
<!-- BEGIN footer -->
<div id="footer">
  <p class="l">Copyright © 212 - <a href="http://all-free-download.com/free-website-templates/">www.vfoss.org</a> · All Rights Reserved |Webmaster: <a href="http://www.wpthemedesigner.com/">thuydang.de@gmail.com</a> | Powered by <a href="http://www.wpthemedesigner.com/">DJANGO-CMS </a></p>
</div>
<!-- END footer -->
<div align="center"></div>




		{% render_block "js" %}
	</body>
</html>

