{% load i18n %}

<h2>{% trans "See entries by" %}</h2>
<div class="tags"> 
{% for author in authors %}
	<p><a href="{% url blog_archive_author author=author %}">{{ author }}</a></p>
{% endfor %}
</div>
