{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load i18n cmsplugin_blog_tags %}

{% block extrahead %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="RSS feed for author {{ author|escape }}" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url blog_rss_author author %}" />
<link rel="alternate" type="application/rss+xml" title="RSS feed for author {{ author|escape }} (any language)" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url blog_rss_any_author author %}" />
{% endblock extrahead %}

{% block left-col %}
{{ block.super }}

<h1>{% trans "Entries by" %} {{ author }}</h1>

{% if object_list %}
   {% include "cmsplugin_blog/entry_list_include.html" %}
{% else %}
	<p>{% trans "No entries by" %} {{ author }}</p>
{% endif %}

{% endblock %}

{% block authors %}
{% render_author_links %}
{% endblock %}

{% block archives %}
{% render_month_links %}
{% endblock %}

{% block tag_cloud %}
{% render_tag_links %}
{% endblock %}
