{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}

{% load placeholder_tags cmsplugin_blog_tags simple_translation_tags %}


{% block left-col %}
{{ block.super }}

<h1>{% with object|get_preferred_translation_from_request:request as title %}{{ title }}{% endwith %}</h1>

<p class="date"><span>{{ object.pub_date|date:"d F Y" }}</span></p>

{% with object.placeholders|choose_placeholder:"blog_content" as content %}
    {% render_placeholder content %}
{% endwith %}

{% with object.placeholders|choose_placeholder:"second" as second_content %}
    {% render_placeholder second_content %}
{% endwith %}


{% endblock %}

{# render right column #}

{% block authors %}
	{% render_author_links %}
{% endblock %}

{% block archives %}
	{% render_month_links %}
{% endblock %}

{% block tag_cloud %}
	{% render_tag_links %}
{% endblock %}
