{% load i18n %}

<h2>{% trans "Archives" %}:</h2>
  {% for d in dates reversed %}
    <p><a href="{% url blog_archive_month year=d|date:"Y",month=d|date:"m" %}">{{ d|date:"F Y" }}</a></p>
  {% endfor %}
