	<!--
<div class="facebook-this">
		<a href="{{ facebook_url }}" target="_blank">{{link_text}}</a>
</div>
	-->
	<a data-original-title="Facebook" rel="tooltip"  href="{{ facebook_url }}" class="btn btn-facebook" data-placement="left">
		<i class="fa fa-facebook"></i>
	</a>
