{% load cms_tags sekizai_tags %}
<html>
  <head>
      <title>{% page_attribute "page_title" %}</title>
      {% render_block "css" %}
  </head>
  <body>
      {% cms_toolbar %}

			<p>This is debug_theme/base.html</p>
			<p>placeholder base_content</p>
      {% placeholder base_content %}

      {% block base_content %}{% endblock %}
      {% render_block "js" %}
  </body>
</html>

