{% extends "debug_theme/base.html" %}
{% load cms_tags %}

{% block base_content %}
			<p>This is debug_theme/template_1.html</p>
			<p>placeholder template_1_content</p>
  {% placeholder "template_1_content" %}
{% endblock %}
