{% load i18n cms_tags thumbnail %}
{% load url from future %}

{% for news_item in news %}
<div class="row">
  <div class="span8">
    <div class="row">
      <div class="span8">
				<h4><strong>
						<a href="{{ news_item.get_absolute_url }}" target="_blank">{% render_model news_item "title" %}</a>
				</strong></h4>
      </div>
    </div>
    <div class="row">
			{% if image and news_item.key_visual_id %}
      <div class="col-md-3">
        <a href="{{ news_item.get_absolute_url }}" target="_blank" class="thumbnail">
						<img src="{% thumbnail news_item.key_visual news_item.THUMBNAIL_SIZE crop upscale %}" alt="" />
        </a>
      </div>
		
      <div class="col-md-9">      
        <p>
				{% render_model news_item "lead_in" "lead_in" "" "truncatewords:20" safe %}
        </p>
				<p><a class="btn btn-primary" href="{{ news_item.get_absolute_url }}" target="_blank">{% trans "read more" %}</a></p>
      </div>
			{% else %}
      <div class="col-md-12">      
        <p>
				{% render_model news_item "lead_in" "lead_in" "" safe %}
        </p>
				<p><a class="btn btn-primary" href="{{ news_item.get_absolute_url }}" target="_blank">{% trans "read more" %}</a></p>
      </div>
			{% endif %}
    </div>
		{% block blog_meta %}
    <div class="row">
      <div class="span8">
        <p></p>
        <p>
				<i class="glyphicon glyphicon-user"></i> {% trans "Shared by" %} <a href="{# news_item.author.get_absolute_url #}">{# news_item.author.get_full_name|default:news_item.author.username #}</a> 
					{# {% trans "Shared by" %} <a href="{% url 'aldryn_blog:author-posts' post.author.username %}">{{ post.author|user_name }}</a> #}
          | <i class="glyphicon glyphicon-calendar"></i> {{ news_item.publication_start|date }}
					{% comment %}
          | <i class="icon-comment"></i> <a href="#">3 Comments</a>
          | <i class="icon-share"></i> <a href="#">39 Shares</a>
					{% endcomment %}
					{% if news_item.tags and false %}
          | <i class="icon-tags"></i> Tags {% for tag in news_item.tags %}<a href="{{ tag.get_absolute_url }}"><span class="label label-info">{{ tag.name }}</span></a>{% if not forloop.last %}, {% endif %}{% endfor %}
					{% endif %}
        </p>
      </div>
    </div>
		{% endblock %}
  </div>
</div>
<hr>
{% endfor %}


