{% load staticfiles i18n %}
{% load cms_tags menu_tags sekizai_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<head profile="http://gmpg.org/xfn/11">
		{% block meta_tags %}{% endblock %}
		<title>
			{% block title %}{% trans "Django App" %}{% endblock %}
		</title>
		{% block stylesheets %}
			<!--
			<link rel="stylesheet" href="{% static "gazette/bootstrap/css/bootstrap.min.css" %}" type="text/css" />
			<link rel="stylesheet" href="{% static "gazette/css/base.css" %}" type="text/css" />
			-->
		{% endblock %}
		{% block javascript %}
			<!--
			<script src="{% static "gazette/js/jquery-1.7.2.min.js" %}" type="text/javascript"></script>
			<script src="{% static "gazette/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
			-->
		{% endblock %}
		{% block extra_head %}{% endblock %}

		{% render_block "css" %}
</head>

<body>

	<div id="base_header" role="base_header" >
		{% block base_header %}
			{% include "wp_clear3/templates/_include_navigation.html" %}
		{% endblock base_header %}
	</div>

	<div id="base_content" role="base_content">
		<div class="container">
			{% block base_content %}
			{% endblock base_content %}
		</div>
	</div>

	<div id="base_footer" role="base_footer" >
		{% block base_footer %}
		{% endblock base_footer %}
	</div>

	{% render_block "js" %}

</body>
</html>

