
		<div id="header">
			<div id="head-content" class="clearfix">
				<div id="logo">
					<!--
							<a href="{{ BASE_URL }}" title="VFOSS title">
								<img src="{{ STATIC_URL }}wp_clear3/static/images/vfoss_logo_text_v2.png" alt="FOSS Vietnam – Learn-Create-Share">
							</a>
							-->
					<h1>Vietnam Friends of OSS</h1>
					<h3>Features Rich - Easily Extendable - Openshift Deployable</h3>
					<div class="head-banner468">
						<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner468.gif" alt="banner ad"></a>
					</div>
				</div>
			</div>
		</div>
		<!-- End #header div -->

		<div id="catnav">
			<ul class="catnav clearfix">
				<li id="menu-item-406" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-406"><a href="{{ BASE_URL }}/newswire">News-wire</a></li>
				<li id="menu-item-406" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-406"><a href="{{ BASE_URL }}/blog">Articles</a></li>
						<li id="menu-item-406" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-406"><a href="{{ BASE_URL }}/blog">Blog</a></li>
						<li id="menu-item-407" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-407"><a href="http://wp-clear-new.solostreamsites.com/category/blog-design/">Linux</a>
						<ul class="sub-menu">
							<li id="menu-item-410" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-410"><a href="http://wp-clear-new.solostreamsites.com/category/articles/subcat-1/">Mobile</a>
							<ul class="sub-menu">
								<li id="menu-item-413" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-413"><a href="http://wp-clear-new.solostreamsites.com/category/articles/subcat-1/subsubcat1/">SubSubcat1</a></li>
								<li id="menu-item-412" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-412"><a href="http://wp-clear-new.solostreamsites.com/category/articles/subcat-1/subsubcat-2/">SubSubcat 2</a></li>
							</ul>
							</li>
							<li id="menu-item-411" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-411"><a href="http://wp-clear-new.solostreamsites.com/category/articles/subcat-2/">Subcat 2</a></li>
						</ul>
						</li>
						<li id="menu-item-408" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-408"><a href="http://wp-clear-new.solostreamsites.com/category/photos/">Big Data</a>
						<ul class="sub-menu">
							<li id="menu-item-515" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-515"><a href="http://wp-clear-new.solostreamsites.com/category/photos/cityscapes/">CityScapes</a></li>
							<li id="menu-item-516" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-516"><a href="http://wp-clear-new.solostreamsites.com/category/photos/galleries/">Galleries</a></li>
							<li id="menu-item-517" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-517"><a href="http://wp-clear-new.solostreamsites.com/category/photos/landscapes/">Landscapes</a></li>
							<li id="menu-item-518" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-518"><a href="http://wp-clear-new.solostreamsites.com/category/photos/people/">People</a></li>
						</ul>
						</li>
						<li id="menu-item-409" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-409"><a href="http://wp-clear-new.solostreamsites.com/category/software/">Software</a></li>
						<li id="menu-item-416" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-416"><a href="http://wp-clear-new.solostreamsites.com/category/useful-cool-fun/">Network</a></li>
						<li id="menu-item-417" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-417"><a href="http://wp-clear-new.solostreamsites.com/category/videos/"> >> </a></li>
						<li class="search"><form id="searchform" method="get" action="http://wp-clear-new.solostreamsites.com/"><input value="Enter Search Terms" onfocus="if (this.value == 'Enter Search Terms') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Enter Search Terms';}" size="18" maxlength="50" name="s" id="searchfield" type="text"><input value="search" id="submitbutton" type="submit"></form>
						</li>
					</ul><select class="select-menu-catnav"><option selected="selected" value="#">Navigate to ... </option><option value="http://wp-clear-new.solostreamsites.com/category/articles/">&nbsp;Articles</option><option value="http://wp-clear-new.solostreamsites.com/category/blog-design/">&nbsp;Blog Design</option><option value="http://wp-clear-new.solostreamsites.com/category/articles/subcat-1/">–&nbsp;&nbsp;Subcat 1</option><option value="http://wp-clear-new.solostreamsites.com/category/articles/subcat-1/subsubcat1/">–&nbsp;–&nbsp;&nbsp;SubSubcat1</option><option value="http://wp-clear-new.solostreamsites.com/category/articles/subcat-1/subsubcat-2/">–&nbsp;–&nbsp;&nbsp;SubSubcat 2</option><option value="http://wp-clear-new.solostreamsites.com/category/articles/subcat-2/">–&nbsp;&nbsp;Subcat 2</option><option value="http://wp-clear-new.solostreamsites.com/category/photos/">&nbsp;Photos</option><option value="http://wp-clear-new.solostreamsites.com/category/photos/cityscapes/">–&nbsp;&nbsp;CityScapes</option><option value="http://wp-clear-new.solostreamsites.com/category/photos/galleries/">–&nbsp;&nbsp;Galleries</option><option value="http://wp-clear-new.solostreamsites.com/category/photos/landscapes/">–&nbsp;&nbsp;Landscapes</option><option value="http://wp-clear-new.solostreamsites.com/category/photos/people/">–&nbsp;&nbsp;People</option><option value="http://wp-clear-new.solostreamsites.com/category/software/">&nbsp;Software</option><option value="http://wp-clear-new.solostreamsites.com/category/useful-cool-fun/">&nbsp;Useful Cool Fun</option><option value="http://wp-clear-new.solostreamsites.com/category/videos/">&nbsp;Videos</option></select>
				</div>
				<!-- End #catnav div -->


