{% load staticfiles i18n %}
{% load cms_tags menu_tags sekizai_tags %}

		{% cms_toolbar %}

		<div class="outer-wrap">

			<div id="topnav">
				<div class="limit">
					<ul class="nav clearfix">
						<li id="menu-item-427" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-427"><a href="{{ BASE_URL }}/">Home</a></li>
						<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-454"><a href="{{ BASE_URL }}/projects">Open Ideas</a></li>
						<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-454"><a href="{{ BASE_URL }}/jobs">Jobs</a></li>
						<li id="menu-item-249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249"><a href="{{ BASE_URL }}/community">Community</a>
						<ul class="sub-menu">
							<li id="menu-item-2491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-584"><a href="http://wp-clear-new.solostreamsites.com/page-templates/all-authors-page/">Forums</a></li>
							<li id="menu-item-2492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-425"><a href="http://wp-clear-new.solostreamsites.com/alternate-home-page/">Blog roll</a></li>
							<!--
							<li id="menu-item-584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-584"><a href="http://wp-clear-new.solostreamsites.com/page-templates/all-authors-page/">All Authors Page</a></li>
							<li id="menu-item-425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-425"><a href="http://wp-clear-new.solostreamsites.com/alternate-home-page/">Alternate Home Page</a></li>
							<li id="menu-item-586" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-586"><a href="http://wp-clear-new.solostreamsites.com/page-templates/archives-by-category/">Archives – By Category</a></li>
							<li id="menu-item-587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-587"><a href="http://wp-clear-new.solostreamsites.com/page-templates/archives-by-month/">Archives – By Month</a></li>
							<li id="menu-item-585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-585"><a href="http://wp-clear-new.solostreamsites.com/page-templates/archive-image-gallery/">Archives – Image Gallery</a></li>
							<li id="menu-item-617" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-617"><a href="http://wp-clear-new.solostreamsites.com/blog-standard-layout/">Blog – Standard Layout</a></li>
							<li id="menu-item-616" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-616"><a href="http://wp-clear-new.solostreamsites.com/blog-2-column-layout/">Blog – 2-Column Layout</a></li>
							<li id="menu-item-615" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-615"><a href="http://wp-clear-new.solostreamsites.com/blog-posts-by-category/">Blog – Posts by Category</a></li>
							<li id="menu-item-614" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-614"><a href="http://wp-clear-new.solostreamsites.com/blog-by-category-stacked/">Blog – Posts By Category (Stacked)</a></li>
							<li id="menu-item-514" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-514"><a href="http://wp-clear-new.solostreamsites.com/portfolio-page/">Portfolio Page</a></li>
							<li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a href="http://wp-clear-new.solostreamsites.com/page-templates/sales-letter/">Sales Letter</a></li>
							<li id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256"><a href="http://wp-clear-new.solostreamsites.com/page-templates/site-map/">Site Map</a></li>
							<li id="menu-item-257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-257"><a href="http://wp-clear-new.solostreamsites.com/page-templates/tabbed-archives-page/">Tabbed Archives Page</a></li>
							<li id="menu-item-481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-481"><a href="http://wp-clear-new.solostreamsites.com/youtube-videos-page/">YouTube Videos Page</a></li>
							-->
						</ul>
						</li>
							<!--
						<li id="menu-item-250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="http://wp-clear-new.solostreamsites.com/page-layouts/">Page Layouts</a>
						<ul class="sub-menu">
							<li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246"><a href="http://wp-clear-new.solostreamsites.com/page-layouts/content-sidebar-wide/">Content | Sidebar-Wide</a></li>
							<li id="menu-item-595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595"><a href="http://wp-clear-new.solostreamsites.com/page-layouts/content-sidebar-narrow/">Content | Sidebar-Narrow</a></li>
							<li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-253"><a href="http://wp-clear-new.solostreamsites.com/page-layouts/sidebar-wide-content/">Sidebar-Wide | Content</a></li>
							<li id="menu-item-596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-596"><a href="http://wp-clear-new.solostreamsites.com/page-layouts/sidebar-narrow-content/">Sidebar-Narrow | Content</a></li>
							<li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="http://wp-clear-new.solostreamsites.com/page-layouts/content-sidebar-narrow-sidebar-wide/">Content | Sidebar-Narrow | Sidebar-Wide</a></li>
							<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a href="http://wp-clear-new.solostreamsites.com/page-layouts/sidebar-narrow-content-sidebar-wide/">Sidebar-Narrow | Content | Sidebar-Wide</a></li>
							<li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-254"><a href="http://wp-clear-new.solostreamsites.com/page-layouts/sidebar-wide-content-sidebar-narrow/">Sidebar-Wide | Content | Sidebar-Narrow</a></li>
							<li id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-255"><a href="http://wp-clear-new.solostreamsites.com/page-layouts/sidebar-wide-sidebar-narrow-content/">Sidebar-Wide | Sidebar-Narrow | Content</a></li>
							<li id="menu-item-247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247"><a href="http://wp-clear-new.solostreamsites.com/page-layouts/full-width/">Full-Width</a></li>
						</ul>
						</li>
						<li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248"><a href="http://wp-clear-new.solostreamsites.com/full-width-featured-content/">Wide Features</a></li>
						<li id="menu-item-421" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-421"><a target="_blank" href="http://www.solostream.com/wordpress-themes/wordpress-theme-wp-clear-10/">Buy Now</a></li>
						-->
						<li class="rss-comments"><a title="Comments RSS Feed" href="http://wp-clear-new.solostreamsites.com/comments/feed/">Comments</a></li>
						<li class="rss-content"><a title="Posts RSS Feed" href="http://wp-clear-new.solostreamsites.com/feed/">Posts</a></li>
					</ul><select class="select-menu"><option value="#">Navigate to ...</option><option selected="selected" value="http://wp-clear-new.solostreamsites.com/">&nbsp;Home</option><option value="http://www.solostream.com/category/premium-theme-tutorials/wp-clear-tutorials/">&nbsp;Tutorials</option><option value="http://wp-clear-new.solostreamsites.com/page-templates/">&nbsp;Page Templates</option><option value="http://wp-clear-new.solostreamsites.com/page-templates/all-authors-page/">–&nbsp;&nbsp;All Authors Page</option><option value="http://wp-clear-new.solostreamsites.com/alternate-home-page/">–&nbsp;&nbsp;Alternate Home Page</option><option value="http://wp-clear-new.solostreamsites.com/page-templates/archives-by-category/">–&nbsp;&nbsp;Archives – By Category</option><option value="http://wp-clear-new.solostreamsites.com/page-templates/archives-by-month/">–&nbsp;&nbsp;Archives – By Month</option><option value="http://wp-clear-new.solostreamsites.com/page-templates/archive-image-gallery/">–&nbsp;&nbsp;Archives – Image Gallery</option><option value="http://wp-clear-new.solostreamsites.com/blog-standard-layout/">–&nbsp;&nbsp;Blog – Standard Layout</option><option value="http://wp-clear-new.solostreamsites.com/blog-2-column-layout/">–&nbsp;&nbsp;Blog – 2-Column Layout</option><option value="http://wp-clear-new.solostreamsites.com/blog-posts-by-category/">–&nbsp;&nbsp;Blog – Posts by Category</option><option value="http://wp-clear-new.solostreamsites.com/blog-by-category-stacked/">–&nbsp;&nbsp;Blog – Posts By Category (Stacked)</option><option value="http://wp-clear-new.solostreamsites.com/portfolio-page/">–&nbsp;&nbsp;Portfolio Page</option><option value="http://wp-clear-new.solostreamsites.com/page-templates/sales-letter/">–&nbsp;&nbsp;Sales Letter</option><option value="http://wp-clear-new.solostreamsites.com/page-templates/site-map/">–&nbsp;&nbsp;Site Map</option><option value="http://wp-clear-new.solostreamsites.com/page-templates/tabbed-archives-page/">–&nbsp;&nbsp;Tabbed Archives Page</option><option value="http://wp-clear-new.solostreamsites.com/youtube-videos-page/">–&nbsp;&nbsp;YouTube Videos Page</option><option value="http://wp-clear-new.solostreamsites.com/page-layouts/">&nbsp;Page Layouts</option><option value="http://wp-clear-new.solostreamsites.com/page-layouts/content-sidebar-wide/">–&nbsp;&nbsp;Content | Sidebar-Wide</option><option value="http://wp-clear-new.solostreamsites.com/page-layouts/content-sidebar-narrow/">–&nbsp;&nbsp;Content | Sidebar-Narrow</option><option value="http://wp-clear-new.solostreamsites.com/page-layouts/sidebar-wide-content/">–&nbsp;&nbsp;Sidebar-Wide | Content</option><option value="http://wp-clear-new.solostreamsites.com/page-layouts/sidebar-narrow-content/">–&nbsp;&nbsp;Sidebar-Narrow | Content</option><option value="http://wp-clear-new.solostreamsites.com/page-layouts/content-sidebar-narrow-sidebar-wide/">–&nbsp;&nbsp;Content | Sidebar-Narrow | Sidebar-Wide</option><option value="http://wp-clear-new.solostreamsites.com/page-layouts/sidebar-narrow-content-sidebar-wide/">–&nbsp;&nbsp;Sidebar-Narrow | Content | Sidebar-Wide</option><option value="http://wp-clear-new.solostreamsites.com/page-layouts/sidebar-wide-content-sidebar-narrow/">–&nbsp;&nbsp;Sidebar-Wide | Content | Sidebar-Narrow</option><option value="http://wp-clear-new.solostreamsites.com/page-layouts/sidebar-wide-sidebar-narrow-content/">–&nbsp;&nbsp;Sidebar-Wide | Sidebar-Narrow | Content</option><option value="http://wp-clear-new.solostreamsites.com/page-layouts/full-width/">–&nbsp;&nbsp;Full-Width</option><option value="http://wp-clear-new.solostreamsites.com/full-width-featured-content/">&nbsp;Wide Features</option><option value="http://www.solostream.com/wordpress-themes/wordpress-theme-wp-clear-10/">&nbsp;Buy Now</option><option value="http://wp-clear-new.solostreamsites.com/comments/feed/">&nbsp;Comments</option><option value="http://wp-clear-new.solostreamsites.com/feed/">&nbsp;Posts</option></select>
				</div>
			</div>
			<!-- End #topnav div -->

