<div id="sidetabs-widget-3" class="widget sidetabs"><div class="widget-wrap">
		<div id="widget-tabs">
			<ul class="tabs clearfix ui-tabs-nav">
				<li class="ui-tabs-selected"><a href="#tabs-popular">Popular<span></span></a></li>
				<li><a href="#tabs-recent">Recent<span></span></a></li>
				<li><a href="#tabs-comments">Comments<span></span></a></li>
				<li><a href="#tabs-authors">Authors<span></span></a></li>
				<li><a href="#tabs-archives">Archives<span></span></a></li>
			</ul>

			<div style="clear:both;"></div>

			<div style="display: block;" id="tabs-popular" class="cat_content clearfix ui-tabs-panel">
				<div class="popular"><!-- Wordpress Popular Posts Plugin v2.3.2 [SC] [weekly] [custom] -->
					<ul>
						<li><a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" title="Another Full-Width Featured Image" class="wpp-post-title">Another Full-Width Featured Image</a> </li>
						<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" title="This is a Test Post With Some Comments" class="wpp-post-title">This is a Test Post With Some Comments</a> </li>
						<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4/" title="This is a Test Post" class="wpp-post-title">This is a Test Post</a> </li>
						<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-4/" title="Video Post #4" class="wpp-post-title">Video Post #4</a> </li>
						<li><a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" title="Big Blue-Eyed Baby" class="wpp-post-title">Big Blue-Eyed Baby</a> </li>
					</ul>
					<!-- End Wordpress Popular Posts Plugin v2.3.2 -->
				</div>
			</div>

			<div id="tabs-recent" class="cat_content clearfix ui-tabs-panel ui-tabs-hide">
				<ul>
					<li>
					<a href="http://wp-clear-new.solostreamsites.com/2011/10/wp-clear-tutorials-moved/" rel="bookmark" title="Permanent Link to WP-Clear Tutorials Moved">WP-Clear Tutorials Moved</a>
					</li>
					<li>
					<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" rel="bookmark" title="Permanent Link to Big Blue-Eyed Baby">Big Blue-Eyed Baby</a>
					</li>
					<li>
					<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="bookmark" title="Permanent Link to Another Full-Width Featured Image">Another Full-Width Featured Image</a>
					</li>
					<li>
					<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" rel="bookmark" title="Permanent Link to Pure Beauty">Pure Beauty</a>
					</li>
					<li>
					<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="bookmark" title="Permanent Link to Full-Width Featured Image">Full-Width Featured Image</a>
					</li>
				</ul>
			</div>

			{% block authors_list %}
			<div id="tabs-authors" class="cat_content clearfix ui-tabs-panel ui-tabs-hide">
				<ul>
					<li>
					<a href="#" rel="bookmark" title="Permanent Link to WP-Clear Tutorials Moved">WP-Clear Tutorials Moved</a>
					</li>
					<li>
					<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" rel="bookmark" title="Permanent Link to Big Blue-Eyed Baby">Big Blue-Eyed Baby</a>
					</li>
					<li>
					<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="bookmark" title="Permanent Link to Another Full-Width Featured Image">Another Full-Width Featured Image</a>
					</li>
					<li>
					<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" rel="bookmark" title="Permanent Link to Pure Beauty">Pure Beauty</a>
					</li>
					<li>
					<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="bookmark" title="Permanent Link to Full-Width Featured Image">Full-Width Featured Image</a>
					</li>
				</ul>
			</div>
			{% endblock authors_list %}

			<div id="tabs-comments" class="cat_content clearfix side-recent-comments ui-tabs-panel ui-tabs-hide">

				<ul>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/#comment-36" title="on This is a Test Post With Some Comments">admin: Same thing here. Just another comment.</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/#comment-35" title="on This is a Test Post With Some Comments">admin: This is simply another comment. Nothing too exciting.</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/#comment-34" title="on This is a Test Post With Some Comments">admin: This is a reply to a reply. How long can this go on?</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/#comment-33" title="on This is a Test Post With Some Comments">admin: This is another reply.</a></li>
					<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/#comment-32" title="on This is a Test Post With Some Comments">admin: This is a reply to a reply. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi quis ris</a></li>
			</ul>			</div>

			<div id="tabs-archives" class="cat_content clearfix ui-tabs-panel ui-tabs-hide">
				<ul class="side-arc">
					<li class="clearfix">
					<p class="title">Archives:</p>
					<select name="archive-dropdown" onchange="document.location.href=this.options[this.selectedIndex].value;">
						<option selected="selected" value="">Select Month</option>
						<option value="http://wp-clear-new.solostreamsites.com/2011/10/"> October 2011 &nbsp;(1)</option>
						<option value="http://wp-clear-new.solostreamsites.com/2011/03/"> March 2011 &nbsp;(2)</option>
						<option value="http://wp-clear-new.solostreamsites.com/2010/11/"> November 2010 &nbsp;(22)</option>
						<option value="http://wp-clear-new.solostreamsites.com/2010/10/"> October 2010 &nbsp;(2)</option>
						<option value="http://wp-clear-new.solostreamsites.com/2010/09/"> September 2010 &nbsp;(2)</option>
						<option value="http://wp-clear-new.solostreamsites.com/2010/08/"> August 2010 &nbsp;(2)</option>
						<option value="http://wp-clear-new.solostreamsites.com/2010/07/"> July 2010 &nbsp;(3)</option>
						<option value="http://wp-clear-new.solostreamsites.com/2010/06/"> June 2010 &nbsp;(1)</option>
					</select>
					<noscript><input type="submit" value="Go" /></noscript>
					</li>
					<li class="clearfix">
					<p class="title">Categories:</p>
					<form action="http://wp-clear-new.solostreamsites.com/" method="get">
						<select name="cat" id="cat" class="postform" onchange="return this.form.submit()">
							<option selected="selected" value="-1">Select Category</option>
							<option class="level-0" value="4">Articles&nbsp;&nbsp;(4)</option>
							<option class="level-1" value="8">&nbsp;&nbsp;&nbsp;Subcat 1&nbsp;&nbsp;(1)</option>
							<option class="level-2" value="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SubSubcat 2&nbsp;&nbsp;(1)</option>
							<option class="level-2" value="11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SubSubcat1&nbsp;&nbsp;(1)</option>
							<option class="level-1" value="9">&nbsp;&nbsp;&nbsp;Subcat 2&nbsp;&nbsp;(1)</option>
							<option class="level-0" value="5">Blog Design&nbsp;&nbsp;(3)</option>
							<option class="level-0" value="6">Photos&nbsp;&nbsp;(16)</option>
							<option class="level-1" value="22">&nbsp;&nbsp;&nbsp;CityScapes&nbsp;&nbsp;(3)</option>
							<option class="level-1" value="19">&nbsp;&nbsp;&nbsp;Galleries&nbsp;&nbsp;(3)</option>
							<option class="level-1" value="20">&nbsp;&nbsp;&nbsp;Landscapes&nbsp;&nbsp;(3)</option>
							<option class="level-1" value="21">&nbsp;&nbsp;&nbsp;People&nbsp;&nbsp;(4)</option>
							<option class="level-0" value="7">Software&nbsp;&nbsp;(3)</option>
							<option class="level-0" value="12">Tutorials&nbsp;&nbsp;(1)</option>
							<option class="level-0" value="13">Useful Cool Fun&nbsp;&nbsp;(3)</option>
							<option class="level-0" value="14">Videos&nbsp;&nbsp;(5)</option>
						</select>
						<noscript><input type="submit" value="Go" /></noscript>
					</form>
					</li>
					<li class="clearfix">
					<p class="title">Tags:</p>
					<select name="tag-dropdown" onchange="document.location.href=this.options[this.selectedIndex].value;">
						<option selected="selected" value="">Select a Tag</option>
						<option value="http://wp-clear-new.solostreamsites.com/tag/featured/">featured (6)</option><option value="http://wp-clear-new.solostreamsites.com/tag/full-image/">full-image (3)</option>						</select>
					<noscript><input type="submit" value="Go" /></noscript>
					</li>
				</ul>
			</div>

		</div>

	</div>
</div>

<div id="banner300-widget-4" class="widget banner300">
	<div class="widget-wrap">
		<h3 class="widgettitle"><span>300×250 Banner Ad Widget</span></h3>
		<a href=""><img src="{{ STATIC_URL }}wp_clear3/static/images/banner300.jpg" alt=""></a>
	</div>
</div>
{% block videoslide_widget %}
<div id="videoslide-widget-4" class="widget videoslide">
	<div class="widget-wrap">
		<h3 class="widgettitle"><span>YouTube Videos Widget</span></h3>
		<script type="text/javascript">
//<![CDATA[
		jQuery(window).load(function() {
				jQuery('#featured-yt-vids').flexslider({
slideshow: false,
directionNav:false,
manualControls: '.youtube-custom-controls li a',
controlsContainer: ".youtube-slider"
});
				});
//]]>
		</script>
		{% endblock videoslide_widget %}

