{% extends "wp_clear3/templates/_extend_base.html" %}
{% load staticfiles i18n %}
{% load cms_tags menu_tags sekizai_tags %}


{% block title %}
		VFOSS – Vietnamese Fans of OSS :)
{% endblock title %}

{% block stylesheets %}
{{ block.super }}
		<link rel="stylesheet" href="{{ STATIC_URL }}wp_clear3/static/css/style.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{{ STATIC_URL }}wp_clear3/static/css/style-font.css" type="text/css" media="screen">
		<!-- Responsive Design Resources -->
		<link rel="stylesheet" href="{{ STATIC_URL }}wp_clear3/static/css/style-responsive.css" type="text/css" media="screen">
		<link rel="stylesheet" id="wordpress-popular-posts-css" href="{{ STATIC_URL }}wp_clear3/static/css/wpp.css" type="text/css" media="all">
		<link rel="stylesheet" id="wp-pagenavi-css" href="{{ STATIC_URL }}wp_clear3/static/css/pagenavi-css.css" type="text/css" media="all">
		<!-- Alternate Stylesheet -->
		<link href="{{ STATIC_URL }}wp_clear3/static/css/default.css" rel="stylesheet" type="text/css">
		<!-- Custom Styles from Theme Setting Page -->
		<style type="text/css">
			#sitetitle,#logo {float:left;width:100%;}
			#sitetitle .title,#sitetitle .description {float:none;text-indent:-999em;position:absolute;display:none;left:-999em;}
		</style>
		<!-- Styles from custom.css -->
		<link href="{{ STATIC_URL }}wp_clear3/static/css/custom.css" rel="stylesheet" type="text/css">

		<style type="text/css" charset="utf-8">/* See license.txt for terms of usage */
			/** reset styling **/
			.firebugResetStyles {
				z-index: 2147483646 !important;
				top: 0 !important;
				left: 0 !important;
				display: block !important;
				border: 0 none !important;
				margin: 0 !important;
				padding: 0 !important;
				outline: 0 !important;
				min-width: 0 !important;
				max-width: none !important;
				min-height: 0 !important;
				max-height: none !important;
				position: fixed !important;
				transform: rotate(0deg) !important;
				transform-origin: 50% 50% !important;
				border-radius: 0 !important;
				box-shadow: none !important;
				background: transparent none !important;
				pointer-events: none !important;
				white-space: normal !important;
			}
			
			.firebugBlockBackgroundColor {
				background-color: transparent !important;
			}
			
			.firebugResetStyles:before, .firebugResetStyles:after {
				content: "" !important;
			}
			/**actual styling to be modified by firebug theme**/
			.firebugCanvas {
				display: none !important;
			}
			
			/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
			.firebugLayoutBox {
				width: auto !important;
				position: static !important;
			}
			
			.firebugLayoutBoxOffset {
				opacity: 0.8 !important;
				position: fixed !important;
			}
			
			.firebugLayoutLine {
				opacity: 0.4 !important;
				background-color: #000000 !important;
			}
			
			.firebugLayoutLineLeft, .firebugLayoutLineRight {
				width: 1px !important;
				height: 100% !important;
			}
			
			.firebugLayoutLineTop, .firebugLayoutLineBottom {
				width: 100% !important;
				height: 1px !important;
			}
			
			.firebugLayoutLineTop {
				margin-top: -1px !important;
				border-top: 1px solid #999999 !important;
			}
			
			.firebugLayoutLineRight {
				border-right: 1px solid #999999 !important;
			}
			
			.firebugLayoutLineBottom {
				border-bottom: 1px solid #999999 !important;
			}
			
			.firebugLayoutLineLeft {
				margin-left: -1px !important;
				border-left: 1px solid #999999 !important;
			}
			
			/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
			.firebugLayoutBoxParent {
				border-top: 0 none !important;
				border-right: 1px dashed #E00 !important;
				border-bottom: 1px dashed #E00 !important;
				border-left: 0 none !important;
				position: fixed !important;
				width: auto !important;
			}
			
			.firebugRuler{
				position: absolute !important;
			}
			
			.firebugRulerH {
				top: -15px !important;
				left: 0 !important;
				width: 100% !important;
				height: 14px !important;
				background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%13%88%00%00%00%0E%08%02%00%00%00L%25a%0A%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%04%F8IDATx%DA%EC%DD%D1n%E2%3A%00E%D1%80%F8%FF%EF%E2%AF2%95%D0D4%0E%C1%14%B0%8Fa-%E9%3E%CC%9C%87n%B9%81%A6W0%1C%A6i%9A%E7y%0As8%1CT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AATE9%FE%FCw%3E%9F%AF%2B%2F%BA%97%FDT%1D~K(%5C%9D%D5%EA%1B%5C%86%B5%A9%BDU%B5y%80%ED%AB*%03%FAV9%AB%E1%CEj%E7%82%EF%FB%18%BC%AEJ8%AB%FA'%D2%BEU9%D7U%ECc0%E1%A2r%5DynwVi%CFW%7F%BB%17%7Dy%EACU%CD%0E%F0%FA%3BX%FEbV%FEM%9B%2B%AD%BE%AA%E5%95v%AB%AA%E3E5%DCu%15rV9%07%B5%7F%B5w%FCm%BA%BE%AA%FBY%3D%14%F0%EE%C7%60%0EU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5JU%88%D3%F5%1F%AE%DF%3B%1B%F2%3E%DAUCNa%F92%D02%AC%7Dm%F9%3A%D4%F2%8B6%AE*%BF%5C%C2Ym~9g5%D0Y%95%17%7C%C8c%B0%7C%18%26%9CU%CD%13i%F7%AA%90%B3Z%7D%95%B4%C7%60%E6E%B5%BC%05%B4%FBY%95U%9E%DB%FD%1C%FC%E0%9F%83%7F%BE%17%7DkjMU%E3%03%AC%7CWj%DF%83%9An%BCG%AE%F1%95%96yQ%0Dq%5Dy%00%3Et%B5'%FC6%5DS%95pV%95%01%81%FF'%07%00%00%00%00%00%00%00%00%00%F8x%C7%F0%BE%9COp%5D%C9%7C%AD%E7%E6%EBV%FB%1E%E0(%07%E5%AC%C6%3A%ABi%9C%8F%C6%0E9%AB%C0'%D2%8E%9F%F99%D0E%B5%99%14%F5%0D%CD%7F%24%C6%DEH%B8%E9rV%DFs%DB%D0%F7%00k%FE%1D%84%84%83J%B8%E3%BA%FB%EF%20%84%1C%D7%AD%B0%8E%D7U%C8Y%05%1E%D4t%EF%AD%95Q%BF8w%BF%E9%0A%BF%EB%03%00%00%00%00%00%00%00%00%00%B8vJ%8E%BB%F5%B1u%8Cx%80%E1o%5E%CA9%AB%CB%CB%8E%03%DF%1D%B7T%25%9C%D5(%EFJM8%AB%CC'%D2%B2*%A4s%E7c6%FB%3E%FA%A2%1E%80~%0E%3E%DA%10x%5D%95Uig%15u%15%ED%7C%14%B6%87%A1%3B%FCo8%A8%D8o%D3%ADO%01%EDx%83%1A~%1B%9FpP%A3%DC%C6'%9C%95gK%00%00%00%00%00%00%00%00%00%20%D9%C9%11%D0%C0%40%AF%3F%EE%EE%92%94%D6%16X%B5%BCMH%15%2F%BF%D4%A7%C87%F1%8E%F2%81%AE%AAvzr%DA2%ABV%17%7C%E63%83%E7I%DC%C6%0Bs%1B%EF6%1E%00%00%00%00%00%00%00%00%00%80cr%9CW%FF%7F%C6%01%0E%F1%CE%A5%84%B3%CA%BC%E0%CB%AA%84%CE%F9%BF)%EC%13%08WU%AE%AB%B1%AE%2BO%EC%8E%CBYe%FE%8CN%ABr%5Dy%60~%CFA%0D%F4%AE%D4%BE%C75%CA%EDVB%EA(%B7%F1%09g%E5%D9%12%00%00%00%00%00%00%00%00%00H%F6%EB%13S%E7y%5E%5E%FB%98%F0%22%D1%B2'%A7%F0%92%B1%BC%24z3%AC%7Dm%60%D5%92%B4%7CEUO%5E%F0%AA*%3BU%B9%AE%3E%A0j%94%07%A0%C7%A0%AB%FD%B5%3F%A0%F7%03T%3Dy%D7%F7%D6%D4%C0%AAU%D2%E6%DFt%3F%A8%CC%AA%F2%86%B9%D7%F5%1F%18%E6%01%F8%CC%D5%9E%F0%F3z%88%AA%90%EF%20%00%00%00%00%00%00%00%00%00%C0%A6%D3%EA%CFi%AFb%2C%7BB%0A%2B%C3%1A%D7%06V%D5%07%A8r%5D%3D%D9%A6%CAu%F5%25%CF%A2%99%97zNX%60%95%AB%5DUZ%D5%FBR%03%AB%1C%D4k%9F%3F%BB%5C%FF%81a%AE%AB'%7F%F3%EA%FE%F3z%94%AA%D8%DF%5B%01%00%00%00%00%00%00%00%00%00%8E%FB%F3%F2%B1%1B%8DWU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*UiU%C7%BBe%E7%F3%B9%CB%AAJ%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5*%AAj%FD%C6%D4%5Eo%90%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5%86%AF%1B%9F%98%DA%EBm%BBV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%AD%D6%E4%F58%01%00%00%00%00%00%00%00%00%00%00%00%00%00%40%85%7F%02%0C%008%C2%D0H%16j%8FX%00%00%00%00IEND%AEB%60%82") repeat-x !important;
				border-top: 1px solid #BBBBBB !important;
				border-right: 1px dashed #BBBBBB !important;
				border-bottom: 1px solid #000000 !important;
			}
				
			.firebugRulerV {
				top: 0 !important;
				left: -15px !important;
				width: 14px !important;
				height: 100% !important;
				background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0E%00%00%13%88%08%02%00%00%00%0E%F5%CB%10%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%06~IDATx%DA%EC%DD%D1v%A20%14%40Qt%F1%FF%FF%E4%97%D9%07%3BT%19%92%DC%40(%90%EEy%9A5%CB%B6%E8%F6%9Ac%A4%CC0%84%FF%DC%9E%CF%E7%E3%F1%88%DE4%F8%5D%C7%9F%2F%BA%DD%5E%7FI%7D%F18%DDn%BA%C5%FB%DF%97%BFk%F2%10%FF%FD%B4%F2M%A7%FB%FD%FD%B3%22%07p%8F%3F%AE%E3%F4S%8A%8F%40%EEq%9D%BE8D%F0%0EY%A1Uq%B7%EA%1F%81%88V%E8X%3F%B4%CEy%B7h%D1%A2E%EBohU%FC%D9%AF2fO%8BBeD%BE%F7X%0C%97%A4%D6b7%2Ck%A5%12%E3%9B%60v%B7r%C7%1AI%8C%BD%2B%23r%00c0%B2v%9B%AD%CA%26%0C%1Ek%05A%FD%93%D0%2B%A1u%8B%16-%95q%5Ce%DCSO%8E%E4M%23%8B%F7%C2%FE%40%BB%BD%8C%FC%8A%B5V%EBu%40%F9%3B%A72%FA%AE%8C%D4%01%CC%B5%DA%13%9CB%AB%E2I%18%24%B0n%A9%0CZ*Ce%9C%A22%8E%D8NJ%1E%EB%FF%8F%AE%CAP%19*%C3%BAEKe%AC%D1%AAX%8C*%DEH%8F%C5W%A1e%AD%D4%B7%5C%5B%19%C5%DB%0D%EF%9F%19%1D%7B%5E%86%BD%0C%95%A12%AC%5B*%83%96%CAP%19%F62T%86%CAP%19*%83%96%CA%B8Xe%BC%FE)T%19%A1%17xg%7F%DA%CBP%19*%C3%BA%A52T%86%CAP%19%F62T%86%CA%B0n%A9%0CZ%1DV%C6%3D%F3%FCH%DE%B4%B8~%7F%5CZc%F1%D6%1F%AF%84%F9%0F6%E6%EBVt9%0E~%BEr%AF%23%B0%97%A12T%86%CAP%19%B4T%86%CA%B8Re%D8%CBP%19*%C3%BA%A52huX%19%AE%CA%E5%BC%0C%7B%19*CeX%B7h%A9%0C%95%E1%BC%0C%7B%19*CeX%B7T%06%AD%CB%5E%95%2B%BF.%8F%C5%97%D5%E4%7B%EE%82%D6%FB%CF-%9C%FD%B9%CF%3By%7B%19%F62T%86%CA%B0n%D1R%19*%A3%D3%CA%B0%97%A12T%86uKe%D0%EA%B02*%3F1%99%5DB%2B%A4%B5%F8%3A%7C%BA%2B%8Co%7D%5C%EDe%A8%0C%95a%DDR%19%B4T%C66%82fA%B2%ED%DA%9FC%FC%17GZ%06%C9%E1%B3%E5%2C%1A%9FoiB%EB%96%CA%A0%D5qe4%7B%7D%FD%85%F7%5B%ED_%E0s%07%F0k%951%ECr%0D%B5C%D7-g%D1%A8%0C%EB%96%CA%A0%A52T%C6)*%C3%5E%86%CAP%19%D6-%95A%EB*%95q%F8%BB%E3%F9%AB%F6%E21%ACZ%B7%22%B7%9B%3F%02%85%CB%A2%5B%B7%BA%5E%B7%9C%97%E1%BC%0C%EB%16-%95%A12z%AC%0C%BFc%A22T%86uKe%D0%EA%B02V%DD%AD%8A%2B%8CWhe%5E%AF%CF%F5%3B%26%CE%CBh%5C%19%CE%CB%B0%F3%A4%095%A1%CAP%19*Ce%A8%0C%3BO*Ce%A8%0C%95%A12%3A%AD%8C%0A%82%7B%F0v%1F%2FD%A9%5B%9F%EE%EA%26%AF%03%CA%DF9%7B%19*Ce%A8%0C%95%A12T%86%CA%B8Ze%D8%CBP%19*Ce%A8%0C%95%D1ae%EC%F7%89I%E1%B4%D7M%D7P%8BjU%5C%BB%3E%F2%20%D8%CBP%19*Ce%A8%0C%95%A12T%C6%D5*%C3%5E%86%CAP%19*Ce%B4O%07%7B%F0W%7Bw%1C%7C%1A%8C%B3%3B%D1%EE%AA%5C%D6-%EBV%83%80%5E%D0%CA%10%5CU%2BD%E07YU%86%CAP%19*%E3%9A%95%91%D9%A0%C8%AD%5B%EDv%9E%82%FFKOee%E4%8FUe%A8%0C%95%A12T%C6%1F%A9%8C%C8%3D%5B%A5%15%FD%14%22r%E7B%9F%17l%F8%BF%ED%EAf%2B%7F%CF%ECe%D8%CBP%19*Ce%A8%0C%95%E1%93~%7B%19%F62T%86%CAP%19*Ce%A8%0C%E7%13%DA%CBP%19*Ce%A8%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4%AE%A4%F5%25%C0%00%DE%BF%5C'%0F%DA%B8q%00%00%00%00IEND%AEB%60%82") repeat-y !important;
				border-left: 1px solid #BBBBBB !important;
				border-right: 1px solid #000000 !important;
				border-bottom: 1px dashed #BBBBBB !important;
			}
				
			.overflowRulerX > .firebugRulerV {
				left: 0 !important;
			}
				
			.overflowRulerY > .firebugRulerH {
				top: 0 !important;
			}
				
			/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
			.fbProxyElement {
				position: fixed !important;
				pointer-events: auto !important;
			}
		</style>

{% endblock stylesheets %}
{# /.stylesheet #}

{% block javascript %}
{{ block.super }}
		<script type="text/javascript" src="{{ STATIC_URL }}wp_clear3/static/js/jquery_002.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}wp_clear3/static/js/flexslider.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}wp_clear3/static/js/external.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}wp_clear3/static/js/suckerfish.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}wp_clear3/static/js/suckerfish-cat.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}wp_clear3/static/js/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}wp_clear3/static/js/jquery-ui-personalized-1.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}wp_clear3/static/js/sprinkle-tabs.js"></script>

				<!-- MobileMenu JS -->
		<script type="text/javascript">
			jQuery(function () {
					jQuery('.nav').mobileMenu({ defaultText: 'Navigate to ...' });
					jQuery('.catnav').mobileMenu({ defaultText: 'Navigate to ... ', className: 'select-menu-catnav' });
					});
		</script>

		<!-- Media Queries Script for IE8 and Older -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->


{% endblock javascript %}

{% block extra_head %}
{{ block.super }}
		<link rel="stylesheet" href="{{ STATIC_URL }}wp_clear3/static/css/style.css" type="text/css" media="screen">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link rel="pingback" href="http://wp-clear-new.solostreamsites.com/xmlrpc.php">
		<link rel="alternate" type="application/rss+xml" title="WP-Clear - Premium Responsive WordPress Magazine Theme » Feed" href="http://wp-clear-new.solostreamsites.com/feed/">
		<link rel="alternate" type="application/rss+xml" title="WP-Clear - Premium Responsive WordPress Magazine Theme » Comments Feed" href="http://wp-clear-new.solostreamsites.com/comments/feed/">
		<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://wp-clear-new.solostreamsites.com/xmlrpc.php?rsd">
		<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://wp-clear-new.solostreamsites.com/wp-includes/wlwmanifest.xml"> 
		<meta name="generator" content="Bluefish 2.0.3" >
{% endblock extra_head %}



{% block base_header %}
	{% include "wp_clear3/templates/_include_navigation.html" %}
{% endblock base_header %}

{% block base_content %}

			<div id="wrap">
	{% include "wp_clear3/templates/_include_base_header.html" %}
								<!--
				<div class="banner728-container clearfix">
					<div class="banner728 left">
						<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner728.gif" alt="banner ad"></a>	
						<a href="http://www.profiseller.de/shop1/index.php3?ps_id=p205870515" target="_blank"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner_1und1.png" alt="banner ad"></a>	
					</div>
						-->

						<!--
					<div class="banner220">
						<a href="http://www.profiseller.de/shop1/index.php3?ps_id=p205870515" target="_blank"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner_1und1_220.png" alt="banner ad"></a>	
						<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner220.gif" alt="banner ad"></a>	
					</div>
				</div>
						-->

				<div id="page" class="clearfix">

					<div class="page-border clearfix">

{% block contentleft %} 
						<div id="contentleft" class="clearfix">
	
							<div class="index_page home blog c-sw">
						
							<script type="text/javascript">
								//<![CDATA[
								jQuery(window).load(function() {
									jQuery('#featured').flexslider({
										slideshow: true,
										slideshowSpeed: 6000,
										directionNav:false,
										pauseOnHover:true,
										manualControls: '.narrow-custom-controls li a',
										controlsContainer: ".narrow-slider"
										});
									});
								//]]>
							</script>
							
							<div class="featured narrow">

							{% block slider_1 %}
								{% include "wp_clear3/templates/_include_slider.html" %}
							{% endblock slider_1 %}
							</div>
							<!-- End featured_narrow div -->
							
							<script type="text/javascript">
								//<![CDATA[
							jQuery(window).load(function() {
									jQuery('#featured-galleries').flexslider({
							animation:'slide',
							controlNav: false,
							slideshow: false,
							slideshowSpeed: 0000,
							directionNav:true,
							animationLoop: false
							});
									});
							//]]>
							</script>
													
							<!-- block entries_list_1 -->
							<div class="cat-posts-stacked">
								{% block entries_list_1 %}
								<h2 class="feat-title"><span>News-wire</span></h2>
								<div class="post clearfix" id="post-main-455">
									<div class="entry clearfix">
										<a href="http://wp-clear-new.solostreamsites.com/2011/10/wp-clear-tutorials-moved/" rel="bookmark" title="Permanent Link to WP-Clear Tutorials Moved">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/def-thumb.jpg" alt="WP-Clear Tutorials Moved" title="WP-Clear Tutorials Moved">
										</a>
										<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2011/10/wp-clear-tutorials-moved/" rel="bookmark" title="Permanent Link to WP-Clear Tutorials Moved">WP-Clear Tutorials Moved</a></h3>
										<div class="meta">

											<span class="meta-author">
												<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Posts by Michael Pollock" rel="author">Michael Pollock</a> | 
											</span> 

											<span class="meta-date">
												October 21, 2011	</span> 

											<span class="meta-comments">
												| <a href="http://wp-clear-new.solostreamsites.com/2011/10/wp-clear-tutorials-moved/#comments" rel="bookmark" title="Comments for WP-Clear Tutorials Moved">0 Comments</a>
											</span>


										</div>								<p>You can find tutorials for this theme <strong><a href="http://www.solostream.com/category/premium-theme-tutorials/wp-clear-tutorials/">here</a></strong>.</p>
										<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2011/10/wp-clear-tutorials-moved/" rel="nofollow" title="Permanent Link to WP-Clear Tutorials Moved">Continue Reading</a></p>
										<div style="clear:both;"></div>
									</div>
								</div>
								<div class="post clearfix" id="post-main-500">
									<div class="entry clearfix">
										<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" rel="bookmark" title="Permanent Link to Big Blue-Eyed Baby">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/stockvault_7110_20070301-150x150_002.jpg" alt="Big Blue-Eyed Baby" title="Big Blue-Eyed Baby">
										</a>
										<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" rel="bookmark" title="Permanent Link to Big Blue-Eyed Baby">Big Blue-Eyed Baby</a></h3>
										<div class="meta">

											<span class="meta-author">
												<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Posts by Michael Pollock" rel="author">Michael Pollock</a> | 
											</span> 

											<span class="meta-date">
												March 28, 2011	</span> 

											<span class="meta-comments">
												| <a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/#comments" rel="bookmark" title="Comments for Big Blue-Eyed Baby">0 Comments</a>
											</span>


										</div>								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
										elit. Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem 
										dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
										<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" rel="nofollow" title="Permanent Link to Big Blue-Eyed Baby">Continue Reading</a></p>
									<div style="clear:both;"></div>
								</div>
								</div>
								<div class="post clearfix" id="post-main-280">
									<div class="entry clearfix">
										<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="bookmark" title="Permanent Link to Another Full-Width Featured Image">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000004964402Small-150x150.jpg" alt="Another Full-Width Featured Image" title="Another Full-Width Featured Image">
										</a>
										<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="bookmark" title="Permanent Link to Another Full-Width Featured Image">Another Full-Width Featured Image</a></h3>
										<div class="meta">
							
											<span class="meta-author">
												<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Posts by Michael Pollock" rel="author">Michael Pollock</a> | 
											</span> 
										
											<span class="meta-date">
												March 28, 2011	</span> 
										
											<span class="meta-comments">
											 | <a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/#comments" rel="bookmark" title="Comments for Another Full-Width Featured Image">0 Comments</a>
											</span>
										 								
										</div>								
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
									elit. Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem 
									dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
											<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="nofollow" title="Permanent Link to Another Full-Width Featured Image">Continue Reading</a></p>
																<div style="clear:both;"></div>
														</div>
													</div><!-- post-main- -->

								<div class="post clearfix" id="post-main-498">
									<div class="entry clearfix">
										<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" rel="bookmark" title="Permanent Link to Pure Beauty">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000014169183Large-150x150.jpg" alt="Pure Beauty" title="Pure Beauty"></a>
										<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" rel="bookmark" title="Permanent Link to Pure Beauty">Pure Beauty</a></h3>
										<div class="meta">
										
											<span class="meta-author">
												<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Posts by Michael Pollock" rel="author">Michael Pollock</a> | 
											</span> 									
											<span class="meta-date">
												November 23, 2010	
											</span> 									
											<span class="meta-comments">
						 | <a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/#comments" rel="bookmark" title="Comments for Pure Beauty">0 Comments</a>
						</span>
						 			
										</div>								
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
										elit. Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem 
										dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
										<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" rel="nofollow" title="Permanent Link to Pure Beauty">Continue Reading</a></p>
										<div style="clear:both;"></div>
									</div>
								</div>
							{% endblock entries_list_1 %} 
							</div>
							<!-- End cat_posts_stacked div -->	
						
							<!-- block featured_entries_1 -->							
							{% block featured_entries_1 %}							
							<div class="featured galleries">
							
								<div class="container gallery-slider clearfix">
							
									<h2 class="feature-title"><span>Featured Photos (optional)</span></h2>
									
									<div id="featured-galleries" class="flexslider">								
										<div style="overflow: hidden; position: relative;" class="flex-viewport">
											<ul style="width: 800%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);" class="slides">
								
												<li class="flex-active-slide" style="width: 628px; float: left; display: block;">
								
								
													<div id="post-1" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" title="Big Blue-Eyed Baby">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/stockvault_7110_20070301-150x150_002.jpg" alt="Big Blue-Eyed Baby" title="Big Blue-Eyed Baby">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" title="Big Blue-Eyed Baby">Big Blue-Eyed Baby</a></h4>
													</div>
								
								
								
													<div id="post-2" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" title="Pure Beauty">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000014169183Large-150x150.jpg" alt="Pure Beauty" title="Pure Beauty">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" title="Pure Beauty">Pure Beauty</a></h4>
													</div>
								
								
								
													<div id="post-3" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-7-2/" title="Yogini Doing Tree Pose">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000014138078Small-150x150.jpg" alt="Yogini Doing Tree Pose" title="Yogini Doing Tree Pose">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-7-2/" title="Yogini Doing Tree Pose">Yogini Doing Tree Pose</a></h4>
													</div>
								
								
								
													<div id="post-4" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-5-2/" title="Red Rock Canyon, Nevada">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000002662205Medium-150x150.jpg" alt="Red Rock Canyon, Nevada" title="Red Rock Canyon, Nevada">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-5-2/" title="Red Rock Canyon, Nevada">Red Rock Canyon, Nevada</a></h4>
													</div>
								
									    			</li>
												<li style="width: 628px; float: left; display: block;">
								
								
													<div id="post-5" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-4-2/" title="Cute Baby With a Pudgy Face">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000009215054Small1-150x150.jpg" alt="Cute Baby With a Pudgy Face" title="Cute Baby With a Pudgy Face">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-4-2/" title="Cute Baby With a Pudgy Face">Cute Baby With a Pudgy Face</a></h4>
													</div>
								
								
								
													<div id="post-6" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-3-2/" title="Beautiful Blue Water With Mountains">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000004140736Small-150x150.jpg" alt="Beautiful Blue Water With Mountains" title="Beautiful Blue Water With Mountains">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-3-2/" title="Beautiful Blue Water With Mountains">Beautiful Blue Water With Mountains</a></h4>
													</div>
								
								
								
													<div id="post-7" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-2-2/" title="Wagon Under a Tree">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000001570184Small1-150x150.jpg" alt="Wagon Under a Tree" title="Wagon Under a Tree">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-2-2/" title="Wagon Under a Tree">Wagon Under a Tree</a></h4>
													</div>
								
								
								
													<div id="post-8" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-video-post-2/" title="Manhattan Skyline at Dusk">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/Manhattan-Skyline-150x150.jpg" alt="Manhattan Skyline at Dusk" title="Manhattan Skyline at Dusk">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-video-post-2/" title="Manhattan Skyline at Dusk">Manhattan Skyline at Dusk</a></h4>
													</div>
								
									    			</li>
												<li style="width: 628px; float: left; display: block;">
								
								
													<div id="post-9" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-photo-gallery/" title="This is a Photo Gallery">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/too-shy-to-succeed-150x150.jpg" alt="This is a Photo Gallery" title="This is a Photo Gallery">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-photo-gallery/" title="This is a Photo Gallery">This is a Photo Gallery</a></h4>
													</div>
								
								
								
													<div id="post-10" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4-2/" title="Lovin Chicago at Night">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/Chicago-150x150.jpg" alt="Lovin Chicago at Night" title="Lovin Chicago at Night">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4-2/" title="Lovin Chicago at Night">Lovin Chicago at Night</a></h4>
													</div>
								
								
								
													<div id="post-11" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-2-2/" title="San Francisco and the Bay Bridge">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/sanfran-150x150.jpg" alt="San Francisco and the Bay Bridge" title="San Francisco and the Bay Bridge">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-2-2/" title="San Francisco and the Bay Bridge">San Francisco and the Bay Bridge</a></h4>
													</div>
								
								
								
													<div id="post-12" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/09/photo-gallery-6/" title="Photo Gallery #6">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000009116595XSmall-150x150.jpg" alt="Photo Gallery #6" title="Photo Gallery #6">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/09/photo-gallery-6/" title="Photo Gallery #6">Photo Gallery #6</a></h4>
													</div>
								
									    			</li>
												<li style="width: 628px; float: left; display: block;">
								
								
													<div id="post-13" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/07/photo-gallery-4/" title="Photo Gallery #4">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/starfish-150x150.jpg" alt="Photo Gallery #4" title="Photo Gallery #4">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/07/photo-gallery-4/" title="Photo Gallery #4">Photo Gallery #4</a></h4>
													</div>
								
								
								
													<div id="post-14" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/07/still-another-photo-gallery/" title="Still Another Photo Gallery">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000015266973Large-150x150.jpg" alt="Still Another Photo Gallery" title="Still Another Photo Gallery">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/07/still-another-photo-gallery/" title="Still Another Photo Gallery">Still Another Photo Gallery</a></h4>
													</div>
								
								
								
													<div id="post-15" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/07/this-is-another-photo-gallery/" title="This is Another Photo Gallery">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000013906620XSmall-150x150.jpg" alt="This is Another Photo Gallery" title="This is Another Photo Gallery">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/07/this-is-another-photo-gallery/" title="This is Another Photo Gallery">This is Another Photo Gallery</a></h4>
													</div>
								
								
								
													<div id="post-16" class="gallery-post">
														<a href="http://wp-clear-new.solostreamsites.com/2010/06/photo-gallery-5/" title="Photo Gallery #5">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000009270770XSmall-150x150.jpg" alt="Photo Gallery #5" title="Photo Gallery #5">
									</a>
														<h4><a href="http://wp-clear-new.solostreamsites.com/2010/06/photo-gallery-5/" title="Photo Gallery #5">Photo Gallery #5</a></h4>
													</div>
								
								
								
												</li>
								
											</ul>
										</div>
										<ul class="flex-direction-nav">
										<li><a class="flex-prev flex-disabled" href="#">Previous</a></li>
										<li><a class="flex-next" href="#">Next</a></li>
									</ul>
									</div>
								</div>

							</div>
							{% endblock featured_entries_1 %}

							<script type="text/javascript">
							//<![CDATA[
								jQuery(window).load(function() {
									jQuery('#featured-vids').flexslider({
										slideshow: false,
										directionNav:false,
										manualControls: '.video-custom-controls li a',
										controlsContainer: ".video-slider"
									});
								});
							//]]>
							</script>
							<!-- End featured_galleries div -->
							
							{% block featured_entries_2 %}
							<div class="featured videos">
								<div class="container video-slider clearfix">
							
									<div class="controls-container clearfix">
										<h2><span>Featured Videos (optional)</span></h2>
										
										<ul class="flexslide-custom-controls video-custom-controls clearfix">
											<li><a class="flex-active" href="#" title="Video Post #4">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/Oryx-Antelope-1-150x150.jpg" alt="Video Post #4" title="Video Post #4">
								</a></li>
											<li><a href="#" title="Video Post #3 Full Width">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/stockvault_7110_20070301-150x150.jpg" alt="Video Post #3 Full Width" title="Video Post #3 Full Width">
								</a></li>
											<li><a href="#" title="Video Post #2">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/happy-writer-150x150.jpg" alt="Video Post #2" title="Video Post #2">
								</a></li>
											<li><a href="#" title="This is a Video Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000002156664XSmall-150x150.jpg" alt="This is a Video Post" title="This is a Video Post">
								</a></li>
											<li><a href="#" title="Video Post #5">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/personal-projects-150x150.jpg" alt="Video Post #5" title="Video Post #5">
								</a></li>
										</ul>
									</div>
							
									<div id="featured-vids" class="flexslider">
						
									<ul class="slides">
						    			<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" id="feature-vid-1">
						
											<div class="feature-video">
												<div class="video"><iframe src="{{ STATIC_URL }}wp_clear3/static/images/tzfC6rJW3QI_002.html" allowfullscreen="" frameborder="0" height="315" width="420"></iframe></div>
											</div>
					
						    				<div class="flex-caption">
												<h2 class="post-title">Video Post #4</h2>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
													 quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
													iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
													enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
													consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
													Ut vel [...]</p>
												<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-4/" rel="nofollow" title="Permanent Link to Video Post #4">Continue Reading</a></p>
											</div>
					
										</li>
						    			<li style="width: 100%; float: left; margin-right: -100%; position: relative;" id="feature-vid-2">
						
											<div class="feature-video">
												<div class="video"><iframe src="{{ STATIC_URL }}wp_clear3/static/images/YmT6frghmOo.html" allowfullscreen="" frameborder="0" height="315" width="420"></iframe></div>
											</div>
						
							    				<div class="flex-caption">
												<h2 class="post-title">Video Post #3 Full Width</h2>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
						 quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
						iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
						enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
						consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
						Ut vel [...]</p>
												<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-3/" rel="nofollow" title="Permanent Link to Video Post #3 Full Width">Continue Reading</a></p>
											</div>
						
										</li>
						    			<li style="width: 100%; float: left; margin-right: -100%; position: relative;" id="feature-vid-3">
						
											<div class="feature-video">
												<div class="video"><iframe src="{{ STATIC_URL }}wp_clear3/static/images/g41uS4pmj9o.html" allowfullscreen="" frameborder="0" height="315" width="420"></iframe></div>
											</div>
						
							    				<div class="flex-caption">
												<h2 class="post-title">Video Post #2</h2>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
						 quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
						iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
						enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
						consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
						Ut vel [...]</p>
												<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-2/" rel="nofollow" title="Permanent Link to Video Post #2">Continue Reading</a></p>
											</div>
						
										</li>
						    			<li style="width: 100%; float: left; margin-right: -100%; position: relative;" id="feature-vid-4">
						
											<div class="feature-video">
												<div class="video"><iframe src="{{ STATIC_URL }}wp_clear3/static/images/VEzcMlAzkRk.html" allowfullscreen="" frameborder="0" height="315" width="420"></iframe></div>
											</div>
						
							    				<div class="flex-caption">
												<h2 class="post-title">This is a Video Post</h2>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
						 quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
						iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
						enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
						consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
						Ut vel [...]</p>
												<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-video-post/" rel="nofollow" title="Permanent Link to This is a Video Post">Continue Reading</a></p>
											</div>
						
										</li>
						    			<li style="width: 100%; float: left; margin-right: -100%; position: relative;" id="feature-vid-5">
						
											<div class="feature-video">
												<div class="video"><iframe src="{{ STATIC_URL }}wp_clear3/static/images/34l2KaGjgEM_002.html" allowfullscreen="" frameborder="0" height="315" width="420"></iframe></div>
											</div>
						
							    				<div class="flex-caption">
												<h2 class="post-title">Video Post #5</h2>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
						 quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
						iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
						enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
						consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
						Ut vel [...]</p>
												<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/09/video-post-5/" rel="nofollow" title="Permanent Link to Video Post #5">Continue Reading</a></p>
											</div>
						
										</li>
									</ul>
						
								</div>
							
								</div>
							</div>
							{% endblock featured_entries_2 %}
							<!-- End .featured .videos div -->
							
							<div id="content" class="clearfix">
							
								
								<div class="banner468">
									<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner468.gif" alt="banner ad"></a>
								</div>

								<div class="cat-posts-stacked">
									<h2 class="feat-title"><span>VFOSS Community</span></h2>
								</div>

								<div class="cats-by-2">
								{% block entries_list_2 %}

									<div class="cat-posts-left">
									<h2 class="feat-title"><span><a href="http://wp-clear-new.solostreamsites.com/category/articles/">Articles</a></span></h2>
									<div class="post clearfix mypost-1" id="cat-post-280">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="bookmark" title="Permanent Link to Another Full-Width Featured Image">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000004964402Small-150x150.jpg" alt="Another Full-Width Featured Image" title="Another Full-Width Featured Image">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="bookmark" title="Permanent Link to Another Full-Width Featured Image">Another Full-Width Featured Image</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/" rel="nofollow" title="Permanent Link to Another Full-Width Featured Image">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-2" id="cat-post-14">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-2/" rel="bookmark" title="Permanent Link to This is a Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000006260483XSmall-150x150.jpg" alt="This is a Test Post" title="This is a Test Post">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-2/" rel="bookmark" title="Permanent Link to This is a Test Post">This is a Test Post</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-2/" rel="nofollow" title="Permanent Link to This is a Test Post">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-3" id="cat-post-11">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post/" rel="bookmark" title="Permanent Link to This is a Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/capp-150x150.jpg" alt="This is a Test Post" title="This is a Test Post">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post/" rel="bookmark" title="Permanent Link to This is a Test Post">This is a Test Post</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post/" rel="nofollow" title="Permanent Link to This is a Test Post">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									</div>
									
									
									<div class="cat-posts-right">
									<h2 class="feat-title"><span><a href="http://wp-clear-new.solostreamsites.com/category/blog-design/">Blog Entries</a></span></h2>
									<div class="post clearfix mypost-1" id="cat-post-26">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4/" rel="bookmark" title="Permanent Link to This is a Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000011840573Small-150x150.jpg" alt="This is a Test Post" title="This is a Test Post">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4/" rel="bookmark" title="Permanent Link to This is a Test Post">This is a Test Post</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-4/" rel="nofollow" title="Permanent Link to This is a Test Post">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-2" id="cat-post-23">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-test-post-3/" rel="bookmark" title="Permanent Link to This is a Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/womanwrinkles-150x150.jpg" alt="This is a Test Post" title="This is a Test Post">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-test-post-3/" rel="bookmark" title="Permanent Link to This is a Test Post">This is a Test Post</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-test-post-3/" rel="nofollow" title="Permanent Link to This is a Test Post">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-3" id="cat-post-17">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-full-width-test-post/" rel="bookmark" title="Permanent Link to This is a Full-Width Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000008560287Small-150x150.jpg" alt="This is a Full-Width Test Post" title="This is a Full-Width Test Post">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-full-width-test-post/" rel="bookmark" title="Permanent Link to This is a Full-Width Test Post">This is a Full-Width Test Post</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-full-width-test-post/" rel="nofollow" title="Permanent Link to This is a Full-Width Test Post">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									</div>
									<div style="clear:both;"></div>
									
									
									<div class="cat-posts-left">
									<h2 class="feat-title"><span><a href="http://wp-clear-new.solostreamsites.com/category/software/">Forums</a></span></h2>
									<div class="post clearfix mypost-1" id="cat-post-101">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-5/" rel="bookmark" title="Permanent Link to This is a Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/blogger-with-money--150x150.jpg" alt="This is a Test Post" title="This is a Test Post">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-5/" rel="bookmark" title="Permanent Link to This is a Test Post">This is a Test Post</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-5/" rel="nofollow" title="Permanent Link to This is a Test Post">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-2" id="cat-post-108">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/10/this-is-another-test-post-2/" rel="bookmark" title="Permanent Link to This is Another Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/podcaster-150x150.jpg" alt="This is Another Test Post" title="This is Another Test Post">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/10/this-is-another-test-post-2/" rel="bookmark" title="Permanent Link to This is Another Test Post">This is Another Test Post</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/10/this-is-another-test-post-2/" rel="nofollow" title="Permanent Link to This is Another Test Post">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-3" id="cat-post-105">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/10/this-is-another-test-post/" rel="bookmark" title="Permanent Link to This is Another Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000000147479Small-150x150.jpg" alt="This is Another Test Post" title="This is Another Test Post">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/10/this-is-another-test-post/" rel="bookmark" title="Permanent Link to This is Another Test Post">This is Another Test Post</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/10/this-is-another-test-post/" rel="nofollow" title="Permanent Link to This is Another Test Post">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									</div>
									
									
									<div class="cat-posts-right">
									<h2 class="feat-title"><span><a href="http://wp-clear-new.solostreamsites.com/category/photos/">Projects</a></span></h2>
									<div class="post clearfix mypost-1" id="cat-post-500">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" rel="bookmark" title="Permanent Link to Big Blue-Eyed Baby">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/stockvault_7110_20070301-150x150_002.jpg" alt="Big Blue-Eyed Baby" title="Big Blue-Eyed Baby">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" rel="bookmark" title="Permanent Link to Big Blue-Eyed Baby">Big Blue-Eyed Baby</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image-2/" rel="nofollow" title="Permanent Link to Big Blue-Eyed Baby">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-2" id="cat-post-498">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" rel="bookmark" title="Permanent Link to Pure Beauty">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000014169183Large-150x150.jpg" alt="Pure Beauty" title="Pure Beauty">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" rel="bookmark" title="Permanent Link to Pure Beauty">Pure Beauty</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" rel="nofollow" title="Permanent Link to Pure Beauty">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-3" id="cat-post-499">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-7-2/" rel="bookmark" title="Permanent Link to Yogini Doing Tree Pose">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000014138078Small-150x150.jpg" alt="Yogini Doing Tree Pose" title="Yogini Doing Tree Pose">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-7-2/" rel="bookmark" title="Permanent Link to Yogini Doing Tree Pose">Yogini Doing Tree Pose</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-7-2/" rel="nofollow" title="Permanent Link to Yogini Doing Tree Pose">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									</div>
									<div style="clear:both;"></div>
									
									
									<div class="cat-posts-left">
									<h2 class="feat-title"><span><a href="http://wp-clear-new.solostreamsites.com/category/useful-cool-fun/">Useful, Cool and Fun</a></span></h2>
									<div class="post clearfix mypost-1" id="cat-post-110">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="bookmark" title="Permanent Link to Full-Width Featured Image">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/Garden-150x150.jpg" alt="Full-Width Featured Image" title="Full-Width Featured Image">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="bookmark" title="Permanent Link to Full-Width Featured Image">Full-Width Featured Image</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="nofollow" title="Permanent Link to Full-Width Featured Image">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-2" id="cat-post-118">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" rel="bookmark" title="Permanent Link to This is a Test Post With Some Comments">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000001229886Small1-e1301345256977-150x150.jpg" alt="This is a Test Post With Some Comments" title="This is a Test Post With Some Comments">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" rel="bookmark" title="Permanent Link to This is a Test Post With Some Comments">This is a Test Post With Some Comments</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt.</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" rel="nofollow" title="Permanent Link to This is a Test Post With Some Comments">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-3" id="cat-post-114">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-7/" rel="bookmark" title="Permanent Link to This is a Test Post">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/party_celebrate_business-150x150.jpg" alt="This is a Test Post" title="This is a Test Post">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-7/" rel="bookmark" title="Permanent Link to This is a Test Post">This is a Test Post</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-7/" rel="nofollow" title="Permanent Link to This is a Test Post">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									</div>
									
									
									<div class="cat-posts-right">
									<h2 class="feat-title"><span><a href="http://wp-clear-new.solostreamsites.com/category/videos/">Videos</a></span></h2>
									<div class="post clearfix mypost-1" id="cat-post-96">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-4/" rel="bookmark" title="Permanent Link to Video Post #4">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/Oryx-Antelope-1-150x150.jpg" alt="Video Post #4" title="Video Post #4">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-4/" rel="bookmark" title="Permanent Link to Video Post #4">Video Post #4</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-4/" rel="nofollow" title="Permanent Link to Video Post #4">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-2" id="cat-post-91">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-3/" rel="bookmark" title="Permanent Link to Video Post #3 Full Width">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/stockvault_7110_20070301-150x150.jpg" alt="Video Post #3 Full Width" title="Video Post #3 Full Width">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-3/" rel="bookmark" title="Permanent Link to Video Post #3 Full Width">Video Post #3 Full Width</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-3/" rel="nofollow" title="Permanent Link to Video Post #3 Full Width">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									<div class="post clearfix mypost-3" id="cat-post-88">
									<div class="entry clearfix">
									<a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-2/" rel="bookmark" title="Permanent Link to Video Post #2">		<img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/happy-writer-150x150.jpg" alt="Video Post #2" title="Video Post #2">
									</a>
									<h3 class="post-title"><a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-2/" rel="bookmark" title="Permanent Link to Video Post #2">Video Post #2</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Morbi quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
									iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque 
									enim. Sed et leo nec augue mollis pharetra. Lorem ipsum dolor sit amet, 
									consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
									Ut vel [...]</p>
									<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-2/" rel="nofollow" title="Permanent Link to Video Post #2">Continue Reading</a></p>
									<div style="clear:both;"></div>
									</div>
									</div>
									</div>
									<div style="clear:both;"></div>
									
									{% endblock entries_list_2 %} 								
								</div>
								<!-- End .cats-by-2 div -->
						</div> 							<!-- End #content div -->
						
						</div>
			
					   
					   
						</div> 						<!-- End #contentleft div -->
				
{% endblock contentleft %}

{% block contentright %}

						<!-- block contentright -->
						<div id="contentright">
				
							<div id="sidebar" class="clearfix">
							<!-- block subscribebox -->
							{% block subscribebox %}
							{% include "wp_clear3/templates/_include_subscribebox_widget.html" %}
							{% endblock subscribebox %}							
							<!-- end block subscribebox -->
							
							{% block entries_widget %}
							{% include "wp_clear3/templates/_include_entries_widget.html" %}
							{% endblock entries_widget %}
							
							<!-- block featured_post_widget -->
							{% block featured_post_widget %}
							<div id="featured-post-2" class="widget featuredpage"><div class="widget-wrap">
											<h3 class="widgettitle"><span><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-video-post-2/">Featured Post Widget</a></span></h3>				
							<div class="post clearfix">
				
																				<a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-video-post-2/" rel="bookmark" title="Permanent Link to Manhattan Skyline at Dusk"><img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/Manhattan-Skyline-315x145.jpg" alt="Manhattan Skyline at Dusk" title="Manhattan Skyline at Dusk"></a>
															
							
								 				
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi 
				quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
				iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque</p>
								
													 <p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-video-post-2/" rel="bookmark" title="Permanent Link to Manhattan Skyline at Dusk">Read More</a></p>
												
							</div>
									
							</div>
							</div>
							{% endblock featured_post_widget %}
							<!-- endblock featured_post_widget -->
							
							<!-- block featured_page_widget -->
							{% block featured_page_widget %}
							<div id="featured-page-6" class="widget featuredpage">
								<div class="widget-wrap">

									{% block authors %}
									<h3 class="widgettitle"><span><a href="http://wp-clear-new.solostreamsites.com/featured-page-1/">Featured Page Widget</a></span></h3>				
									<div class="post clearfix">

										<a href="http://wp-clear-new.solostreamsites.com/featured-page-1/" rel="bookmark" title="Permanent Link to Featured Page 1"><img class="thumbnail" src="{{ STATIC_URL }}wp_clear3/static/images/iStock_000012205768Large-315x145.jpg" alt="Featured Page 1" title="Featured Page 1"></a>



										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi 
										quis risus at nisl blandit feugiat. Ut vel orci quis sem dapibus 
										iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque</p>

										<p class="readmore"><a class="more-link" href="http://wp-clear-new.solostreamsites.com/featured-page-1/" rel="bookmark" title="Permanent Link to Featured Page 1">Read More</a></p>

									</div>

									{% endblock authors %}
								</div>
							</div>
							{% endblock featured_page_widget %}
							<!-- endblock featured_page_widget -->
							
							{% block sidetabs_widget %}
								{% include "wp_clear3/templates/_include_sidetabs_widget.html" %}
							{% endblock sidetabs_widget %}
				
							{% block featured_videos_widget %}
								{% include "wp_clear3/templates/_include_featured_videos_widget.html" %}
							{% endblock featured_videos_widget %}

							{% block sponsors_widget %}
								{% include "wp_clear3/templates/_include_sponsors_widget.html" %}
							{% endblock sponsors_widget %}

{% block sidebar_bottom %}
	{% include "wp_clear3/templates/_include_sidebar_bottom.html" %}
{% endblock sidebar_bottom %}
						<!-- End block contentright -->
{% endblock contentright %}
				
		
					</div> <!-- End .page-border div -->
		
				</div> <!-- End #page div -->
		
				<div class="banner728-container bottom clearfix">
					<div class="banner728 left">
						<!-- 
						<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner728.gif" alt="banner ad"></a>	
						-->
						<a href="http://www.profiseller.de/shop1/index.php3?ps_id=p205870515" target="_blank"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner_1und1.png" alt="banner ad"></a>	
					</div>

					<div class="banner220">
						<!-- 
						<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner220.gif" alt="banner ad"></a>	
						-->
						<a href="http://www.profiseller.de/shop1/index.php3?ps_id=p205870515" target="_blank"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner_1und1_220.png" alt="banner ad"></a>	
					</div>
			</div>



			</div> <!-- End #wrap div -->
		
{% endblock base_content %}
	
{% block base_footer %}
	{% include "wp_clear3/templates/_include_base_footer.html" %}
{% endblock base_footer %}


<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced

Served from: wp-clear-new.solostreamsites.com @ 2013-02-13 19:25:13 -->
