{# "new_theme/custom/2cols_sidebar.html" #}
{% extends "new_theme/custom/base.html" %}
{% load cms_tags menu_tags %}

{% block main_content %}
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		{% block content_left %}
		{% static_placeholder "content_left" %}
		{% endblock content_left %}
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
		{% block content_right %}
		{% static_placeholder "content_right" %}
		{% endblock content_right %}
	</div>
</div>
{% endblock %}
