{% load i18n cms_tags thumbnail %}

{% load social_share %}

<div class="col-sm-12 col-md-12col-lg-12 ">
	{% for news_item in news %}
	<h3><strong>
			<a href="{{ news_item.get_absolute_url }}" target="_blank">{% render_model news_item "title" %}</a>
		</strong></h3>

		<div class="row">
			{% if image and news_item.key_visual_id %}
			<div class="col-md-3">
				<a href="{{ news_item.get_absolute_url }}" target="_blank" class="thumbnail">
					<img src="{% thumbnail news_item.key_visual news_item.THUMBNAIL_SIZE crop upscale %}" alt="" />
				</a>
			</div>

			<div class="col-md-9">      
				<p>
				{% render_model news_item "lead_in" "" "" "truncatewords:20" safe %}
				</p>
			</div>

			{% else %}

			<div class="col-md-12">      
				<p>
				{# render_model obj_instance "model field, property or method" "param to methods" "" safe #}
				{# http://docs.django-cms.org/en/release-3.4.x/how_to/frontend_models.html#special-attributes #}
				{% render_model news_item "lead_in" "" "" safe %}
				</p>
			</div>
			{% endif %}
		</div>

		{% block blog_meta %}
		<div class="row">
			<div class="col-sm-12 col-md-12col-lg-12 ">
			<p></p>
			<i class="glyphicon glyphicon-user"></i> {% trans "Shared by" %} <a href="{# news_item.author.get_absolute_url #}">{{ news_item.author.profile|default:news_item.author.username }}</a> 
			{# {% trans "Shared by" %} <a href="{% url 'aldryn_blog:author-posts' post.author.username %}">{{ post.author|user_name }}</a> #}
			| <i class="glyphicon glyphicon-calendar"></i> {{ news_item.publication_start|date }}
			| {% include "vfoss_news/includes/share_box.html" with item=news_item %}
			{% comment %}
			<!--
		 | <i class="icon-share"></i> {% post_to_facebook news_item.get_absolute_url "Share>" %}
		 | <i class="icon-comment"></i> <a href="#">3 Comments</a>
		 | <i class="icon-share"></i> <a href="#">39 Shares</a>
			-->
			{% endcomment %}
			{% if news_item.tags and false %}
			| <i class="icon-tags"></i> Tags {% for tag in news_item.tags %}<a href="{{ tag.get_absolute_url }}"><span class="label label-info">{{ tag.name }}</span></a>{% if not forloop.last %}, {% endif %}{% endfor %}
			{% endif %}
			</div>
		</div>
		{% endblock %}
		<hr>
		{% endfor %}
</div>


