{% load social_share %}
<!--
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
-->

<!-- Split button -->
<div class="btn-group share-group">
  <button type="button" class="btn btn-sm btn-info dropdown-toggle share" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

		<i class="fa fa-share-alt fa-inverse"></i>
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
	<ul class="dropdown-menu">
		<li>
		{% post_to_facebook news_item.get_absolute_url "Shared on VFOSS.org" %}
		</li>					
		<li>
		<a data-original-title="Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
			<i class="fa fa-twitter"></i>
		</a>
		</li>
  </ul>
</div>
