{% load i18n  %}
{% for entry in object_list %}


    <div class="row">
      <div class="col-md-4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
        </a>
      </div>
      <div class="col-md-8">      
				<h4><strong><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></strong></h4>
        <p>{{ entry.abstract }}</p>
        <p><a href="{{ entry.get_absolute_url }}">Read more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">      

        <p></p>
        <p>
          <i class="icon-user"></i> by 
					<a href="{{ entry.author.get_absolute_url }}"> {{ entry.author }}</a> 
					| <i class="icon-calendar"></i> {{ entry.pub_date|date:"d F Y" }} 
          | <i class="icon-comment"></i> <a href="#">3 Comments</a>
          | <i class="icon-share"></i> <a href="#">39 Shares</a>
          | <i class="icon-tags"></i> Tags : 
					<a href="#"><span class="label label-info">Snipp</span></a> 
          <a href="#"><span class="label label-info">Bootstrap</span></a> 
          <a href="#"><span class="label label-info">UI</span></a> 
          <a href="#"><span class="label label-info">growth</span></a>
        </p>
    </div>
    </div>
<hr>

{% endfor %}
