{% extends "dragoman_blog/dragoman_blog_base.html" %}
{% load i18n %}

{% block dragoman_content %}

<div class="panel panel-default">
  <div class="panel-heading">
		<h3 class="panel-title">
			<h2 class="feat-title"><span>{% trans "Latest entries" %}</span></h2>
		</h3>
  </div>
  <div class="panel-body">
		{% if object_list %}
		{% include "dragoman_blog/entrytranslation_list_include.html" %}
		{% else %}
		<p>{% trans "No entries" %}</p>
		{% endif %}
  </div>
</div>


{% endblock %}
