{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}

{% load placeholder_tags cmsplugin_blog_tags simple_translation_tags %}
							
{% block contentleft %} <!-- for entry details page -->

	<div id="content" class="clearfix single single-post single-format-standard c-sw">

		<p id="breadcrumbs">You are here: <a href="http://wp-clear-new.solostreamsites.com/">Home</a> » <a href="http://wp-clear-new.solostreamsites.com/category/articles/">Articles</a> » <strong>Another Full-Width Featured Image</strong></p>
		<div class="banner468">
			<a href="#"><img src="{{ STATIC_URL }}wp_clear3/static/images/banner468.gif" alt="banner ad"></a></div>


		<div class="post" id="post-main-280">

			<div class="entry">
				
				<h1 class="post-title single">
					{% with object|get_preferred_translation_from_request:request as title %}
					<a href="#" rel="bookmark" title="Permanent Link to Another Full-Width Featured Image">{{ title }}</a>
					{% endwith %}
				</h1>
				
				<div class="meta single">
				
					<span class="meta-author">
						<a href="http://wp-clear-new.solostreamsites.com/author/michaelpollock/" title="Posts by Michael Pollock" rel="author">Michael Pollock</a> | 
					</span> 
				
					<span class="meta-date"> {{ object.pub_date|date:"d F Y" }} </span> 
				
					<span class="meta-comments">
						| <a href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/#comments" rel="bookmark" title="Comments for Another Full-Width Featured Image">0 Comments</a>
					</span>
				</div>

				{% with object.placeholders|choose_placeholder:"blog_excerpt" as excerpt %}
				{% render_placeholder excerpt %}
				{% endwith %}

				{% with object.placeholders|choose_placeholder:"blog_content" as content %}
				{% render_placeholder content %}
				{% endwith %}

				{% with object.placeholders|choose_placeholder:"blog_plugin" as plugin %}
				    {% render_placeholder plugin %}
				{% endwith %}

				<p class="tags"><strong>Tags: </strong> <a href="http://wp-clear-new.solostreamsites.com/tag/featured/" rel="tag">featured</a>, <a href="http://wp-clear-new.solostreamsites.com/tag/full-image/" rel="tag">full-image</a></p>                <p class="cats"><strong>Category</strong>: <a href="http://wp-clear-new.solostreamsites.com/category/articles/" title="View all posts in Articles" rel="category tag">Articles</a></p>

			</div> <!-- entry -->
		</div> <!-- post -->

		
<div class="auth-bio clearfix">

<div class="bio">
{% block entry_content_2 %}
<img alt="" src="Another%20Full-Width%20Featured%20Image%20:%20WP-Clear%20%E2%80%93%20Premium%20Responsive%20WordPress%20Magazine%20Theme_details_files/e1ad66203bb318ebd92398f8f3218924.jpg" class="avatar avatar-60 photo" height="60" width="60">
<h3>About the Author <span class="profile">(<a rel="author" href="http://wp-clear-new.solostreamsites.com/?author=3">Author Profile</a>)</span></h3>

This is the author biographical info found on your user profile page. 
You should write something here. Lorem ipsum dolor sit amet, 
consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat. 
Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi 
tincidunt tincidunt. Pellentesque enim.
{% endblock %}			
</div>

</div>


<div id="related" class="clearfix">
{% block related %}
<div class="related-posts">
<div class="yarpp-related">
<p>Related posts:</p><ol>
<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6/" rel="bookmark" title="Full-Width Featured Image">Full-Width Featured Image</a></li>
<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/video-post-3/" rel="bookmark" title="Video Post #3 Full Width">Video Post #3 Full Width</a></li>
<li><a href="http://wp-clear-new.solostreamsites.com/2010/08/this-is-a-full-width-test-post/" rel="bookmark" title="This is a Full-Width Test Post">This is a Full-Width Test Post</a></li>
<li><a href="http://wp-clear-new.solostreamsites.com/2010/09/video-post-5/" rel="bookmark" title="Video Post #5">Video Post #5</a></li>
<li><a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-8/" rel="bookmark" title="This is a Test Post With Some Comments">This is a Test Post With Some Comments</a></li>
</ol>
</div>
</div>

<div class="subscribe">

<h3>Subscribe</h3>

<p>If you enjoyed this article, subscribe to receive more just like it.</p>


<form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=michaelpollock', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<input value="michaelpollock" name="uri" type="hidden">
<input name="loc" value="en_US" type="hidden">
<p class="email-form">
<input class="sub" name="email" value="subscribe via email" onfocus="if (this.value == 'subscribe via email') {this.value = '';}" onblur="if (this.value == '') {this.value = 'subscribe via email';}" type="text"><input value="submit" class="subbutton" type="submit">
</p>
<div style="clear:both;"><small>Privacy guaranteed. We never share your info.</small></div>
</form>


<div class="sub-icons clearfix">

<a title="Subscribe via RSS Feed" href="http://wp-clear-new.solostreamsites.com/feed/"><img class="rss-sub" src="Another%20Full-Width%20Featured%20Image%20:%20WP-Clear%20%E2%80%93%20Premium%20Responsive%20WordPress%20Magazine%20Theme_details_files/feed.png" alt="Subscribe via RSS Feed" align="top"></a>

<a target="_blank" title="Connect on Facebook" rel="external" href="http://www.facebook.com/michaeldpollock"><img class="facebook-sub" src="Another%20Full-Width%20Featured%20Image%20:%20WP-Clear%20%E2%80%93%20Premium%20Responsive%20WordPress%20Magazine%20Theme_details_files/facebook.png" alt="Connect on Facebook" align="top"></a>

<a target="_blank" rel="external" title="Follow Me on Twitter" href="http://www.twitter.com/michaeldpollock"><img class="twitter-sub" src="Another%20Full-Width%20Featured%20Image%20:%20WP-Clear%20%E2%80%93%20Premium%20Responsive%20WordPress%20Magazine%20Theme_details_files/twitter.png" alt="Follow Me on Twitter" align="top"></a>

<a target="_blank" title="Connect on Pinterest" rel="external" href="http://www.pinterest.com/michaeldpollock"><img class="pinterest-sub" src="Another%20Full-Width%20Featured%20Image%20:%20WP-Clear%20%E2%80%93%20Premium%20Responsive%20WordPress%20Magazine%20Theme_details_files/pinterest.png" alt="Connect on Pinterest" align="top"></a>

<a target="_blank" title="Connect on Google Buzz" rel="external" href="https://plus.google.com/michael.savvysolo?rel=author"><img class="gplus-sub" src="Another%20Full-Width%20Featured%20Image%20:%20WP-Clear%20%E2%80%93%20Premium%20Responsive%20WordPress%20Magazine%20Theme_details_files/google-plus.png" alt="Connect on Google Buzz" align="top"></a>

<a target="_blank" title="Connect on Flickr" rel="external" href="http://www.flickr.com/photos/13434854@N00"><img class="flickr-sub" src="Another%20Full-Width%20Featured%20Image%20:%20WP-Clear%20%E2%80%93%20Premium%20Responsive%20WordPress%20Magazine%20Theme_details_files/flickr.png" alt="Connect on Flickr" align="top"></a>


<a target="_blank" title="Connect on LinkedIn" rel="external" href="http://www.linkedin.com/in/michaeldpollock"><img class="linkedin-sub" src="Another%20Full-Width%20Featured%20Image%20:%20WP-Clear%20%E2%80%93%20Premium%20Responsive%20WordPress%20Magazine%20Theme_details_files/linkedin.png" alt="Connect on LinkedIn" align="top"></a>


<a target="_blank" title="Connect on YouTube" rel="external" href="http://www.youtube.com/user/mdp8593"><img class="youtube-sub" src="Another%20Full-Width%20Featured%20Image%20:%20WP-Clear%20%E2%80%93%20Premium%20Responsive%20WordPress%20Magazine%20Theme_details_files/youtube.png" alt="Connect on YouTube" align="top"></a>

</div>
</div>
{% endblock %}
</div>
		
<!-- You can start editing here. -->

<div id="comments">
{% block comments %}
<div class="allcomments">

	<!-- If comments are open, but there are no comments. -->

</div>

					<div id="respond">
<h3 id="reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="http://wp-clear-new.solostreamsites.com/2011/03/another-full-width-featured-image/#respond" style="display:none;">Cancel reply</a></small></h3>
					<form action="http://wp-clear-new.solostreamsites.com/wp-comments-post.php" method="post" id="commentform">
															<p class="comment-notes">Your email address will not be published. Required fields are marked <span class="required">*</span></p>							<p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" size="30" aria-required="true" type="text"></p>
<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" size="30" aria-required="true" type="text"></p>
<p class="comment-form-url"><label for="url">Website</label><input id="url" name="url" size="30" type="text"></p>
								<p class="comment-form-comment"><label for="comment">Comment</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p>												<p class="form-submit">
			<input name="submit" id="submit" value="Post Comment" type="submit">
			<input name="comment_post_ID" value="280" id="comment_post_ID" type="hidden">
<input name="comment_parent" id="comment_parent" value="0" type="hidden">
		</p>
		<p style="display: none;"><input id="akismet_comment_nonce" name="akismet_comment_nonce" value="c4e918a76e" type="hidden"></p>					</form>
			</div><!-- #respond -->
{% endblock %}						
</div>
		<div class="navigation clearfix">
<div class="alignleft single">
« <a href="http://wp-clear-new.solostreamsites.com/2010/11/this-is-a-test-post-6-2/" rel="prev">Pure Beauty</a>	</div>
<div class="alignright single">
<a href="http://wp-clear-new.solostreamsites.com/2011/10/wp-clear-tutorials-moved/" rel="next">WP-Clear Tutorials Moved</a> »	</div>
</div>

				</div> <!-- End #content entry detail div -->


{% endblock %} <!-- contentleft - template base -->

{# render right column #}

{% block authors %}
	{% render_author_links %}
{% endblock %}

{% block archives %}
	{% render_month_links %}
{% endblock %}

{% block tag_cloud %}
	{% render_tag_links %}
{% endblock %}
