{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load i18n cmsplugin_blog_tags %}

{% block contentleft %}


<div class="clearfix" id="content">

	<p id="breadcrumbs">You are here: <a href="http://wp-clear-new.solostreamsites.com">Home</a> » <a href="http://wp-clear-new.solostreamsites.com/page-templates/">Page Templates</a> » <strong>Archives by Month</strong></p>
	<div class="banner468"><a href="#"><img alt="banner ad" src="/wp-content/themes/wp-clear/images/banner468.gif"></a></div>

	<div class="post entry clearfix">
							
		<h1 class="page-title">{% trans "Entries for" %} {{ month|date:"F Y" }}</h1>

		<div class="archive-content" id="archives-month">

			{% if object_list %}
		   {% include "cmsplugin_blog/entry_list_include.html" %}
			{% else %}
				<p>{% trans "No entries for this month" %}</p>
			{% endif %}
			
		</div>

	</div>

</div>
    
                                         
{% endblock %}



{% block right-col %}

{% render_author_links %}

{% render_month_links %}

{% render_tag_links %}

{% endblock %}
