{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load i18n cmsplugin_blog_tags %}

{% block contentleft %}
{{ block.super }}

<h1>{% trans "Entries for" %} {{ day|date:"d F Y" }}</h1>

{% if object_list %}
   {% include "cmsplugin_blog/entry_list_include.html" %}
{% else %}
	<p>{% trans "No entries for this day" %}</p>
{% endif %}

{% endblock %}

{% block right-col %}

{% render_author_links %}

{% render_month_links %}

{% render_tag_links %}

{% endblock %}
