{% load i18n placeholder_tags simple_translation_tags thumbnail %}
{# load i18n placeholder_tags cmsplugin_blog_tags simple_translation_tags thumbnail #}

{% for project in object_list %}
	<h1>Project title: {{project.title}}</h1>
	<h2>Project description: {{project.description}}}</h2>
{% endfor %}
