{% extends CMS_TEMPLATE %}
{#% extends "base.html" %#}
{% load i18n admin_static %}

{% block main_content %}

{% block content %}

<div>

	<div class="omb_login">
		<h3 class="omb_authTitle">Login or <a href="#">Sign up</a></h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
			<div class="col-xs-4 col-sm-2">
				<a href="{% url 'social:begin' 'facebook' %}?next='/'" class="btn btn-lg btn-block omb_btn-facebook">
					<i class="fa fa-facebook visible-xs"></i>
					<span class="hidden-xs">Facebook</span>
				</a>
			</div>
			<!--
			<div class="col-xs-4 col-sm-2">
				<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-lg btn-block omb_btn-twitter">
					<i class="fa fa-twitter visible-xs"></i>
					<span class="hidden-xs">Twitter</span>
				</a>
			</div>	
			<div class="col-xs-4 col-sm-2">
				<a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-lg btn-block omb_btn-google">
					<i class="fa fa-google-plus visible-xs"></i>
					<span class="hidden-xs">Google+</span>
				</a>
			</div>	
			-->
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
				<form class="omb_loginForm" action="{{ app_path }}" autocomplete="off" method="POST">{% csrf_token %}
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" name="username" placeholder="email address">
					</div>
					<span class="help-block">
						{{ form.username.errors }}
					</span>

					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input  type="password" class="form-control" name="password" placeholder="Password">
					</div>
					
					<span class="help-block">
						{{ form.password.errors }}
					</span>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				</form>
			</div>

			<!--
			<div>
			<form action="{{ app_path }}" action="{#% url 'django.contrib.auth.views.login' %#}" method="post" id="login-form">{% csrf_token %}
					<div class="form-row">
						{{ form.username.errors }}
						{{ form.username.label_tag }} {{ form.username }}
					</div>
					<div class="form-row">
						{{ form.password.errors }}
						{{ form.password.label_tag }} {{ form.password }}
						<input type="hidden" name="next" value="{{ next }}" />
					</div>
					{% url 'admin_password_reset' as password_reset_url %}
					{% if password_reset_url %}
					<div class="password-reset-link">
						<a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
					</div>
					{% endif %}
					<div class="submit-row">
						<label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
					</div>
				</form>
			-->

			</div>
		</div>
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-3">
				<label class="checkbox">
					<input type="checkbox" value="remember-me">Remember Me
				</label>
			</div>
			<div class="col-xs-12 col-sm-6">
				<p class="omb_forgotPwd">
				<a href="{% url 'auth:password_reset' %}">Forgot username or password?</a>
				</p>
			</div>
			{% url 'password_reset' as password_reset_url %}
			{% if password_reset_url %}
				<a href="{{ password_reset_url }}">Forgot username or password?</a>
			{% endif %}
		</div>	    	
	</div>
</div>

{% endblock %}
{% endblock main_content%}
