{% extends CMS_TEMPLATE %}
{#% extends "admin/base_site.html" %#}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block main_content %}
{% block content %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

{% endblock %}
{% endblock %}
