{% extends CMS_TEMPLATE %}
{#% extends "admin/base_site.html" %#}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block main_content %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
<p>{% trans 'Your password was changed.' %}</p>
{% endblock %}
