//######################################################################################################################
// #FONT-AWESOME#

// INFO: using full set from http://fortawesome.github.io/Font-Awesome/
// INFO: using version 4.3.0
// DOCS: http://fortawesome.github.io/Font-Awesome/examples/

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

// Icon Alignment
.fa-left {
    padding-right: $line-height-computed / 4;
}
.fa-right {
    padding-left: $line-height-computed / 4;
}

// Larger Icons
.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.fa-2x {
    font-size: 2em;
}
.fa-3x {
    font-size: 3em;
}
.fa-4x {
    font-size: 4em;
}
.fa-5x {
    font-size: 5em;
}

// Fixed Width Icons
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

// List Icons
.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}
.fa-ul > li {
    position: relative;
}
.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}
.fa-li.fa-lg {
    left: -1.85714286em;
}

// Bordered & Pulled Icons
.fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}
.fa.pull-left {
    margin-right: .3em;
}
.fa.pull-right {
    margin-left: .3em;
}

// Spinning Icons
.fa-spin {
    @include animation(fa-spin 2s infinite linear);
}
.fa-pulse {
    @include animation(fa-spin 1s infinite steps(8));
}
@include keyframes(fa-spin) {
    0% {
        @include transform(rotate(0deg));
    }
    100% {
        @include transform(rotate(359deg));
    }
}

// Rotated & Flipped
.fa-rotate-90 {
    @include transform(rotate(90deg));
}
.fa-rotate-180 {
    @include transform(rotate(180deg));
}
.fa-rotate-270 {
    @include transform(rotate(270deg));
}
.fa-flip-horizontal {
    @include transform(scale(-1, 1));
}
.fa-flip-vertical {
    @include transform(scale(1, -1));
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
    filter: none;
}

// Stacked Icons
.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fa-stack-1x {
    line-height: inherit;
}
.fa-stack-2x {
    font-size: 2em;
}
.fa-inverse {
    color: #ffffff;
}
