{% extends "aldryn_news/base.html" %}
{% load i18n %}


{% block content_news %}
<div class="news-list">

	{% comment %}
	{% block news_title %}
		<h2>{% if archive_date %}
		{% trans "News Archive" %} &ndash; {% if month %}{{ archive_date|date:"F" }} {% endif %}{{ year }}{% elif tagged_entries %}
		{% trans "News Tag" %} &ndash; {{ tagged_entries|capfirst }}{% else %}
		{% trans "News" %}{% endif %}</h2>
	{% endblock %}
	{% endcomment %}

	{% include "aldryn_news/includes/news_items.html" with news=object_list image="true" %}
	{% if author or archive_date or tagged_entries %}
	<p class="news-back"><a href="{% url 'latest-news' %}">{% trans "Back" %}</a></p>
	{% endif %}
{{ tagged_pks }}
</div>
{% endblock %}
