<!doctype html>{% load i18n static cms_tags sekizai_tags %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% page_attribute page_title %} - {{ request.site.name }}{% endblock title %}</title>
    {% block meta_tags %}
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="{% block meta_description %}{% page_attribute 'meta_description' %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% page_attribute 'meta_keywords' %}{% endblock %}" />
    {% for meta_tag in meta_tags %}<!--<meta name="{{ meta_tag.name }}" content="{{ meta_tag.content }}" />-->{% endfor %}
    {% endblock meta_tags %}
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
    <!--[if IE]><link rel="shortcut icon" href="{% static 'favicon.ico' %}" /><![endif]-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% render_block "css" %}
    <!--[if lt IE 9]>
    <script src="{% static 'js/libs/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/libs/respond.min.js' %}"></script>
    <![endif]-->
    {% block extrahead %}{% endblock %}
    {{ ALDRYN_SNAKE.render_head }}
</head>
<body id="page-top" class="noscript lang-{{ LANGUAGE_CODE }} {% block body_class %}tpl-root{% endblock %}">
{% include "includes/analytics.html" %}
{% cms_toolbar %}

{% block extend_root %}{% endblock %}

<script src="{% static 'js/libs/jquery.min.js' %}"></script>
<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script src="{% static 'js/libs/class.min.js' %}"></script>
<script src="{% static 'js/libs/outdatedBrowser.min.js' %}"></script>
<script src="{% static 'js/addons/cl.utils.js' %}"></script>
{% if debug %}
<script src="{% static 'js/addons/cl.debug.min.js' %}"></script>
{% endif %}
<script src="{% static 'js/base.js' %}"></script>
{% render_block "js" %}
{% block extrafoot %}{% endblock %}
{{ ALDRYN_SNAKE.render_tail }}
<div class="browser-outdated" id="outdated" hidden="hidden">
    <noscript><h3>{% trans "Please enable JavaScript" %}</h3></noscript>
    <h3>{% trans "Your browser is out-of-date!" %}</h3>
    <p>{% trans "Update your browser to view this website correctly." %}</p>
    <p><a href="http://outdatedbrowser.com/" class="btn btn-lg btn-outline" id="btnUpdateBrowser">{% trans "Update my browser now" %}</a></p>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
</div>
</body>
</html>
