{% extends "base.html" %}
{% load i18n cms_tags menu_tags %}

{% block body_class %}tpl-sidebar-right{% endblock %}

{% block extend_base %}
<div class="container">
    <div class="row">
        <div class="col-md-17">
            {% block content %}
                {% with 660 as width %}{% placeholder content %}{% endwith %}
            {% endblock content %}
        </div>
        <aside class="col-md-7">
            <h3 class="sr-only">{% trans "Sidebar" %}</h3>
            {% block subnav %}
                {% page_attribute menu_title request.current_page.get_root as subtitle %}
                <ul class="nav navbar-sidenav">
                    {% show_menu 1 5 0 1 "includes/menu/navigation.html" %}
                </ul>
            {% endblock subnav %}

            {% block sidebar %}
                {% with 260 as width %}{% placeholder sidebar %}{% endwith %}
            {% endblock sidebar %}
        </aside>
    </div>
</div>
{% endblock extend_base %}
