{% extends CMS_TEMPLATE %}
{#% extends "base.html" %#}
{% load cms_tags menu_tags %}

{% block main_content %}


{% block meta %}
    {%  if meta %}
        {% include "meta_mixin/meta.html" %}
    {% endif %}
{% endblock meta %}

{% block content %}
<div class="app app-blog">
    {% block content_blog %}{% endblock %}
</div>
{% endblock content %}

{% endblock main_content%}

{# ------------------------------------------------------------ #}
{% block sidebar_cross_app_1 %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Most Shared Sources</h3>
  </div>
  <div class="panel-body">
		{# static_placeholder allow adding plugins like authors, latest articles, etc #}
		{# to site structure #}
		{% static_placeholder "most_shared_sources" %}
  </div>
</div>
{% endblock sidebar_cross_app_1 %}
{# ------------------------------------------------------------ #}

{# ------------------------------------------------------------ #}
{% block sidebar_cross_app_2 %}
{% endblock sidebar_cross_app_2 %}
{# ------------------------------------------------------------ #}

{# ------------------------------------------------------------ #}
{% block sidebar_tab_panel %}
<div class="panel panel-default">
	<div class="panel-heading">
		<!-- Nav tabs -->
		<ul class="nav nav-pills">
			<li><a href="#comments" data-toggle="tab">Comments</a></li>
			<li><a href="#authors" data-toggle="tab">Authors</a></li>
			<li><a href="#archives" data-toggle="tab">Archives</a></li>
		</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="comments">
				{% static_placeholder "blog_plugin_comments" %}
			</div>
			<div class="tab-pane fade" id="authors">
				{# blog_show_authors #}
				{% static_placeholder "blog_plugin_authors" %}
			</div>
			<div class="tab-pane fade" id="archives">
				{% static_placeholder "blog_plugin_archives" %}
			</div>
		</div>

	</div>
</div>
{% endblock sidebar_tab_panel %}
{# ------------------------------------------------------------ #}

{# ------------------------------------------------------------ #}
{% block sidebar_sample_panel %}
{% endblock sidebar_sample_panel %}
