{% extends "djangocms_blog/base.html" %}
{% load i18n staticfiles thumbnail cms_tags %}

{% block meta_description %}{{ post.meta_description }}{% endblock meta_description %}
{% block meta_keywords %}{{ post.meta_keywords }}{% endblock meta_keywords %}
{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ post.get_title }}{% endblock %}

{% block content_blog %}{% spaceless %}
<article id="post-{{ post.slug }}" class="post-item post-detail">
	<div class="entry">
    <header>
        <h1 class="page-title">{% render_model post "title" %}</h1>
        {% block blog_meta %}
            {% include "djangocms_blog/includes/blog_meta.html" %}
        {% endblock %}
				<hr>
    </header>
    {% if post.main_image_id %}
    <div class="blog-visual">
        {% thumbnail post.main_image post.full_image_options.size crop=post.full_image_options.crop upscale=post.full_image_options.upscale subject_location=post.main_image.subject_location  as thumb %}
        <img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
    </div>
    {% endif %}
    {% endspaceless %}
		<br>
		<br>
    {% if post.app_config.use_placeholder %}
        <div class="blog-content">{% render_placeholder post.content %}</div>
    {% else %}
        <div class="blog-content">{% render_model post "post_text" "post_text" "" "safe" %}</div>
    {% endif %}
	</div>
</article>

<social>
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">
	<div><h1>Share Article: </h1></div>
	<div id="share-buttons">

		<!-- Email -->
		<a href="mailto:?Subject={{post.title}}&amp;Body=vfoss.org/{{post.get_absolute_url}}">
			<img src="{% static "new_theme/static/images/social_buttons/email.png" %}" alt="Twitter" />
		</a>
		<!-- Facebook 
		<a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/vfoss.org" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
		</a>
		-->
		<a href="http://www.facebook.com/sharer.php?u=www.vfoss.org/{{post.get_absolute_url}}" target="_blank">
			<img src="{% static "new_theme/static/images/social_buttons/facebook.png" %}" alt="Twitter" />
		</a>

		<!-- Google+ -->
		<a href="https://plus.google.com/share?url=vfoss.org/{{post.get_absolute_url}}" target="_blank">
			<img src="{% static "new_theme/static/images/social_buttons/google.png" %}" alt="Twitter" />
		</a>

		<!-- Twitter -->
		<a href="https://twitter.com/share?url=vfoss.org/{{post.get_absolute_url}}&amp;text=vfoss.org/{{post.get_absolute_url}}" target="_blank">
			<img src="{% static "new_theme/static/images/social_buttons/twitter.png" %}" alt="Twitter" />
		</a>

		    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=www.vfoss.org/{{post.get_absolute_url}}" target="_blank">
			<img src="{% static "new_theme/static/images/social_buttons/linkedin.png" %}" alt="Twitter" />
    </a>
    
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
			<img src="{% static "new_theme/static/images/social_buttons/pinterest.png" %}" alt="Pinterest" />
    </a>
    
   <!-- Reddit -->
    <a href="http://reddit.com/submit?url=vfoss.org/{{post.get_absolute_url}}&amp;title={{post.title}}" target="_blank">
			<img src="{% static "new_theme/static/images/social_buttons/reddit.png" %}" alt="Reddit" />
    </a>
    
    <!-- StumbleUpon
    <a href="http://www.stumbleupon.com/submit?url=vfoss.org/{{post.get_absolute_url}}&amp;title={{post.title}}" target="_blank">
			<img src="{% static "new_theme/static/images/social_buttons/stumbleupon.png" %}" alt="StumbleUpon" />
    </a>
-->
    
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url=vfoss.org/{{post.get_absolute_url}}&amp;title={{post.title}}" target="_blank">
			<img src="{% static "new_theme/static/images/social_buttons/tumblr.png" %}" alt="Tumblr" />
    </a>

    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
			<img src="{% static "new_theme/static/images/social_buttons/print.png" %}" alt="Print" />
    </a>
    
 
	</div>
</div>
</div>

</social>
{% endblock content_blog %}
