{% load i18n %}{% spaceless %}
<div class="plugin plugin-news">
	<div class="news-latest-entries">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<h3 class="section-title">Latest News</h3>
				{% for entry in news_list %}
				{# include "vfoss_news/includes/news_items.html" with news=news_list image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT #}
				{% include "vfoss_news/plugins/plugin_news_items.html" with news_item=entry %}
				{% empty %}
				<p class="blog-empty">{% trans "No article found." %}</p>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
{% endspaceless %}
